.contMapa{
  width: 60%;
  margin-top: 50px !important;
  margin-left: 0px !important;
  float: left;
  height: calc(100% - 51px);
  margin-bottom: 0px !important;
}
.contMapa section[sector]{
  height: 100%;
  width: 100%;
}
#markerLayer img,.gmnoprint img, .gmnoprint{
	width: 40px !important;
	height: 40px !important;
	border-radius: 100px;
}
#markerLayer img{	
	border: 2px solid #3F51B5;
}

#markerLayer div{	
	width: 40px !important;
	height: 40px !important;
	border-radius: 100px;
}