.contMapa{
  width: 60%;
  margin-top: 50px !important;
  margin-left: 0px !important;
  float: left;
  height: calc(100% - 51px);
  margin-bottom: 0px !important;
}
.contMapa section[sector]{
  height: 100%;
  width: 100%;
}
.markerLayer{
  transition:all 0.3s ease-in-out;
}
.markerLayer img{
  border-radius: 100px;
  border: 2px solid #000 !important;
  width: 85% !important;
  height: 90% !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.markerLayer:hover{
  transform: scale(1.2);
}
