 <div class="inicio" layout-padding registro  layout="column" layout-sm="column"  layout-wrap>
  <div cabecera class="md-primary">
    Inicio Sesion
  </div>
  <form name="formInicio" ng-submit="login()" method="post">
    <md-input-container md-no-float class="md-block">
      <label>Nombre o Email</label>
      <input required name="nombre" minlength="5"  ng-model="nombre">
        <!-- mensajes  -->
      <div ng-messages="formInicio.nombre.$error" role="alert">
        <div ng-message="required">Este campo es requerido</div>
        <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
      </div>
    </md-input-container>
    <md-input-container md-no-float class="md-block" name="clave">
      <label>Clave</label>
      <input required type="password" ng-model="clave">
      <div ng-messages="formInicio.clave.$error" role="alert">
        <div ng-message="required">Este campo es requerido</div>
      </div>
    </md-input-container>
    <section   layout-align="center" >
      <button login class="md-raised md-primary" type="submit">Iniciar sesion</button>
      <div divider></div>
      <button login class="google" type="button" ng-click="authenticate('google')"><i class="ion-social-google"></i> Sign in with Google</button>

    </section>
  </form>
</div>
