div[lista].tiendas{
  height: calc(100% - 51px);
}
div[lista] *{
  overflow: hidden;
}
section[cont-slots]{
	height: 100% !important;
}
.tiendas{
  width: calc(40% - 2px);
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.tienda{
  margin-top: 0px;
  margin-left: 0px;
  width: calc(100%) !important;
  height: 100px !important;
  padding: 10px;
  overflow: visible;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}
.tienda:hover{
  background-color: #e8e8e8;
}
.tienda div[parte-izq]{
  float:left;
  width: 100px;
  overflow: visible;
  height: 100%;
}
.tienda div[parte-izq] img.muestra{
  float:left;
  width: calc(100%);
  height: calc(100%);
  margin: 0px;
}
.tienda div[parte-der]{
  float:left;
  width: calc(100% - 110px);
  height: 100%;
}
.tienda div[parte-der] div[titulo]{
    float: left;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
    color: #1a237e;
}
.tienda div[parte-der] div[detalle]{
    float: left;
    width: calc(100%);
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
    word-break: break-all;
    max-height: 47%;
}
.tiendas{
  margin-bottom: 0px !important;
}
.tiendas section[cont-slots]{
  background-color: #7986CB;
  padding-bottom: 20px;
}
.tiendas section.primero{
  margin-top: 0px !important;
}
.tiendas section[busqueda]{
  display:none;
}
