div[capa="contenido"].proveedor{
  width: 100%;
  left: 0%;
  margin-bottom: 100px ;
}
/*------------------ -Cabecera ----------------*/
.proveedor section[cabecera]{
  padding: 0px !important;
  height: auto !important;
  background-color: transparent !important;
  position: relative;
}
.proveedor section[cabecera] img{
  width: 100%;
  height: 100%;
}
.proveedor section[cabecera] div{
  position: absolute;
}
.proveedor section[cabecera] div[nombre]{
  bottom: 7px;
  left: 0;
  color: rgba(0, 0, 0, 0.81);
  width: calc(100% - 20px);
  background-color: rgba(255,255,255,0.4);
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.proveedor section[cabecera] div[puntuacion]{
  top:20px;
  right: 10px;
}
.proveedor section[cabecera] div[puntuacion] i{
  position: static;
}

/*------------------- Cuerpo -----------------*/
div[capa="contenido"].proveedor section[cuerpo]{
  padding: 0px ;
  margin-left: 0px ;
  margin-bottom: 0px ;
  margin-right: 0px ;
  margin-top: -7px ;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}
.proveedor section[cuerpo] div[barra]{
  width: 100%;
  height: 30px;
  background-color: #1A237E;
}
.proveedor section[cuerpo] div[barra] div{
  transition: all 0.3s ease-in-out;
  width: calc((100% / 3) - 1px);
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  float: left;
  border-right: 1px solid white;
  cursor: pointer;
}
.proveedor section[cuerpo] div[barra] div:hover,
.proveedor section[cuerpo] div[barra] div.seleccionado{
  background-color: white !important;
  color: #1A237E !important;
}
.proveedor section[cuerpo] section{
  transition: all 0.3s ease-in-out;
  position: absolute;
  top:30px;
  width: 100%;
  height: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #f0ede5;
  min-height: 100%;
}
.proveedor section[cuerpo] section.seleccionado{
  margin-left: 0px;
}
.proveedor section[cuerpo] section.derecha{
  margin-left: 100%;
}
.proveedor section[cuerpo] section.izquierda{
  margin-left: -100%;
}
/*---------------------------------- capa Home ---------------------------*/
.proveedor section[cuerpo] section[home] div[descripcion],
.proveedor section[cuerpo] section[home] div[horarios],
.proveedor section[cuerpo] section[home] div[contacto]{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.proveedor section[cuerpo] section[home] div[descripcion]{
  padding: 20px;
  font-size: 15px;
}
.proveedor section[cuerpo] section[home] aside[titulo]{
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}
/*------------------------- Contacto ---------------------------*/
.proveedor section[cuerpo] section[home] aside[contacto]{
  position: relative;
  width: 110px;
  height: 60px;
  float: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 2px;
  margin: 5px;
}
.proveedor section[cuerpo] section[home] aside[contacto] i{
  width: 32px;
  height: 32px;
  background-position: 0px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  float: left;
  margin-left: calc(50% - 16px);
}
.proveedor section[cuerpo] section[home] aside[contacto] div{
  position: absolute;
  bottom: 0px;
}
/*-------------------------------- Capa Star -----------------------------*/
.proveedor section[cuerpo] section[star] div[puntuacion],
.proveedor section[cuerpo] section[star] div[opiniones]{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.proveedor section[cuerpo] section[star] div[puntuacion] aside[valor]{
  font-size: 60px;
  text-align: center;
}
.proveedor section[cuerpo] section[star] div[puntuacion] aside[estrellas]{
  width: 100%;
  text-align: center;
}
.proveedor section[cuerpo] section[star] div[opiniones] div[opinion]{
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.proveedor section[cuerpo] section[star] div[opiniones] div[opinion] aside[puntuacion]{
  font-size: 14px;
}
.proveedor section[cuerpo] section[star] div[opiniones] div[opinion] aside[logo]{
  width: 40px;
  height: 40px;
  background-color: #1a237e;
  float: left;
  margin-left: 0px;
  margin-right: 5px;
  border-radius: 100px;
}
.proveedor section[cuerpo] section[star] div[opiniones] div[opinion] div[texto]{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}
/*-----------------------------------MEDIA QUERYS-------------------------*/
@media (min-width: 1000px) {
  div[capa="contenido"].proveedor{
    width: 80%;
    margin-left: 10%;
  }
}
