<md-content landing>
  <header>
    <div titulo>
      BALAFRIA - ADMIN
    </div>
    <div sociales>
        <i class="ion-social-instagram ">
          <div tooltip>
              Instagram
          </div>
        </i>
        <i class="ion-social-twitter " ui-sref="trabajos">
          <div tooltip>
              Twitter
          </div>
        </i>
        <i class="ion-social-facebook ">
          <div tooltip>
              Facebook
          </div>
        </i>
        <md-button class="md-raised md-primary" ng-click="logout()">cerrar sesion</md-button>
    </div>
  </header>
  <ui-view></ui-view>
</md-content>