  <div layout-padding registro layout="column" layout-sm="column"  layout-wrap>
    <div cabecera class="md-primary">
      Rubro
    </div>
        <form name="up.upload_form">
          <md-input-container md-no-float class="md-block">
            <label>Nombre</label>
            <input required name="nombre" minlength="5"  ng-model="up.nombre">
              <!-- mensajes  -->
            <div ng-messages="up.upload_form.nombre.$error" role="alert">
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
            </div>
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <label>Descripcion</label>
            <input required name="descripcion" minlength="5"  ng-model="up.descripcion">
              <!-- mensajes  -->
            <div ng-messages="up.upload_form.descripcion.$error" role="alert">
              <div ng-message="required">Este campo es requerido</div>
              <div ng-message="minlength">Debe poseer al menos 10 carateres</div>
            </div>
          </md-input-container>
          <md-input-container md-no-float class="md-block">
            <label>Color</label>
            <input required name="color" minlength="5"  ng-model="up.color">
          </md-input-container>
            <file-input ng-model="up.file"></file-input>

            <button type="submit" ng-click="up.submit()">submit</button>
            <p>{{up.progress}}</p>
        </form>
  </div>
