<!DOCTYPE html>
<html ng-app="balafria">
<head>
<title>Balafria</title>
<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
<link href="../css/material-icons.css" rel="stylesheet">
<link href="../css/ionicons.css" rel="stylesheet">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
<link rel="stylesheet" type="text/css" href="/css/landing.css">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/proveedor-front.css" rel="stylesheet">

</head>
<body>

<ui-view></ui-view>
<!-- Vendor -->
<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-aria/angular-aria.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-material/angular-material.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="/node_modules/angular-resource/angular-resource.min.js"></script>
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<script src="/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/node_modules/angular-messages/angular-messages.min.js"></script>
<script src="/node_modules/satellizer/dist/satellizer.min.js"></script>
<script src="/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="/node_modules/draggabilly/dist/draggabilly.pkgd.min.js"></script>
<script src="/node_modules/angular-draggabilly/dist/angular-draggabilly.min.js"></script>

<script src="/helpers/vendor/LeafletHtmlIcon.js"></script>


<script src="/helpers/apps/apps.js"></script>
<!-- Servicios -->
<script src="/helpers/servicios/rubro.js"></script>
<script src="/helpers/servicios/tipoImagen.js"></script>
<script src="/helpers/servicios/adminPanel.js"></script>
<script src="/helpers/servicios/sesion.js"></script>
<script src="/helpers/servicios/sucursal.js"></script>
<script src="/helpers/servicios/menu.js"></script>
<script src="/helpers/servicios/categoria.js"></script>
<script src="/helpers/servicios/producto.js"></script>
<script src="/helpers/servicios/proveedor.js"></script>
<script src="/helpers/servicios/pais.js"></script>
<script src="/helpers/servicios/ciudad.js"></script>
<script src="/helpers/servicios/fav.js"></script>
<!-- Directivas -->
<script src="/helpers/directivas/fileInput.js"></script>
<script src="/helpers/directivas/reloj.js"></script>
<!-- Controladores -->

	<!-- admin -->
	<script src="/helpers/admin/controladores/rubro.js"></script>
	<script src="/helpers/admin/controladores/tipoImagen.js"></script>
	<script src="/helpers/admin/controladores/front.js"></script>
	<script src="/helpers/admin/controladores/landing.js"></script>
	<script src="/helpers/admin/controladores/pais.js"></script>
	<script src="/helpers/admin/controladores/ciudad.js"></script>

	<!-- cliente -->
	<script src="/helpers/cliente/controladores/cliente-front.js"></script>
	<script src="/helpers/cliente/controladores/sucursal.js"></script>
	<script src="/helpers/cliente/controladores/header.js"></script>
	<script src="/helpers/cliente/controladores/cambiarImagen.js"></script>
	<script src="/helpers/cliente/controladores/formaDePago.js"></script>
	<script src="/helpers/cliente/controladores/historial.js"></script>
	<script src="/helpers/cliente/controladores/seguridad.js"></script>
	<script src="/helpers/cliente/controladores/perfil.js"></script>
	<script src="/helpers/cliente/controladores/cart.js"></script>

	<!-- proveedor -->
	<script src="/helpers/proveedor/controladores/front.js"></script>
	<script src="/helpers/proveedor/controladores/verificarCorreo.js"></script>
	<script src="/helpers/proveedor/controladores/logIn.js"></script>
	<script src="/helpers/proveedor/controladores/header.js"></script>
	<script src="/helpers/proveedor/controladores/nuevaSucursal.js"></script>
	<script src="/helpers/proveedor/controladores/sucursal.js"></script>
	<script src="/helpers/proveedor/controladores/zona.js"></script>
	<script src="/helpers/proveedor/controladores/contacto.js"></script>
	<script src="/helpers/proveedor/controladores/nuevoMenu.js"></script>
	<script src="/helpers/proveedor/controladores/cambiarMenu.js"></script>
	<script src="/helpers/proveedor/controladores/buscarCategorias.js"></script>
	<script src="/helpers/proveedor/controladores/buscarProductos.js"></script>
	<script src="/helpers/proveedor/controladores/perfil.js"></script>

</body>
</html>
