<div class="foot">
  <section id="contact">
      <div class="row">
        <div class="col-md-12 box row">
          <div class="col-sm-4 form">
              <h1>Contactanos</h1>
              <p>Escribenos aqui y nos contactaremos contigo en la brevedad posible.</p>
              <div class="status alert alert-success" style="display: none"></div>
              <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <input type="text" class="form-control" required="required" placeholder="Nombre">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <input type="text" class="form-control" required="required" placeholder="Direccion de Correo">
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="form-group">
                              <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mensaje"></textarea>
                          </div>
                          <div class="form-group">
                              <button type="button" class="btn btn-danger btn-lg">Enviar Mensaje</button>
                          </div>
                      </div>
              </form>
          </div><!--/.col-sm-4-->
          <div class="col-sm-8 nav">
            <div class="col-md-3">
              <h4>Cliente</h4>
              <ul class="nav">
                <li>App</li>
                <li>Servicios</li>
                <li>LogIn</li>
              </ul>
            </div><!--/.col-sm-3-->
              <div class="col-md-3">
                <h4>Proveedor</h4>
                <ul class="nav">
                  <li>Front</li>
                  <li>Servicios</li>
                  <li>Como Funciona</li>
                  <li>LogIn</li>
                </ul>
              </div><!--/.col-sm-3-->
              <div class="col-md-3">
                <h4>¿Necesitas Ayuda? </h4>
                <ul class="nav">
                  <li>Crea un ticket</li>
                  <li>Chat Room</li>
                </ul>
              </div><!--/.col-sm-3-->
              <div class="col-md-3">
                <h4>Soporte</h4>
                <ul class="nav">
                  <li>Dona Ahora</li>
                  <li>Nuestro Soporte</li>
                  <li>FAQ</li>
                </ul>
              </div><!--/.col-sm-3-->
          </div><!--/.col-sm-8-->
        </div><!--/.box-->
        <div class="row">
          <div class="col-md-1">
          </div><!--/.col-sm-4-->
          <div class="col-md-4">
            <ul class="social">
                <li><a href="#"><i class="icon-facebook icon-social"></i> </a></li>
                <li><a href="#"><i class="icon-google-plus icon-social"></i></a></li>
                <li><a href="#"><i class="icon-pinterest icon-social"></i> </a></li>
                <li><a href="#"><i class="icon-twitter icon-social"></i> </a></li>
                <li><a href="#"><i class="icon-youtube icon-social"></i> </a></li>
            </ul>
          </div><!--/.col-sm-4-->
          <div class="col-md-7 power">
            powered by ROOTTIN C.A.
          </div><!--/.col-sm-4-->
        </div><!--/.row-->
      </div><!--/.row-->
  </section><!--/#contact-->
  <script src="/helpers/vendor/jquery.js"></script>
  <script src="/helpers/vendor/bootstrap.min.js"></script>
</div>
