<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BALAFRIA Proveedor</title>

</head><!--/head-->

<body>
    <section id="main-slider" class="carousel">
        <div class="filter">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-content">
                            <!-- TODO: revisar texto-->
                            <h1>Empieza ahora</h1>
                            <p class="lead">Regístrate ahora y empieza a incrementar tus ganancias al vender con nosotros,<br> dale más alcance a tu empresa y mantente al tanto de todas las ventas y calificaciones de tu productos <br> vía web a través de tu computador o móvil </p>
                            <md-button class="">Regístrate Aqui</md-button>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
            <div class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></div>
            <div class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></div>
        </div>
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="center">
                    <!-- TODO: llenar textos-->
                    <h2>¡Servicios al Proveedor!</h2>
                    <p class="lead">Entre los servicios que ofrecemos destacan:</p>
                </div><!--/.center-->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="ion-social-dropbox icon-md icon-color1"></i>
                            <h4>Publicidad</h4>
                            <p>La mejor manera de dar aconocer tu producto. Balafria es una gran dilema para todos así que porque no vender tu producto con las mejores muestra en fotos.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="ion-speedometer icon-md icon-color2"></i>
                            <h4>Rendimiento</h4>
                            <p>Balafria te asegura un mayor rendimiento en tu negocio, gracias a su plataforma web tus pedidos aumentaran incrementando así tus ganancias.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="ion-ios-star-half icon-md icon-color3"></i>
                            <h4>Calificación</h4>
                            <p>La forma en que los clientes califican tu comida rápida, significa que puedes convertirte en el mejor o ten cuidado porque tambien puedes ser la competencia</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="ion-images icon-md icon-color4"></i>
                            <h4>Foto</h4>
                            <p>Ten el gusto de elegir cual foto mostrar de tus mejores productos en ventas, para nadie es un secreto que se come primero con la vista.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="ion-filing icon-md icon-color5"></i>
                            <h4>Control</h4>
                            <p>Gracias al diseño que te ofrece balafria, puedes llevar el control de tus ventas, calificaciones, productos más vendidos y mucho más.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-thumbs-up icon-md icon-color6"></i>
                            <h4>Personalización</h4>
                            <p>Con el plan que elijas  puedes disfrutar de las mejores oportunidades de ventas, actualizaciones, cantidad de 3 o más sucursales, soporte y mucho más.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->

    </section><!--/#services-->
    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                  <!-- TODO: revisar texto precios-->
                    <h2>Nuestros Planes</h2>
                    <p class="lead">Ofrecemos 3 planes que se adaptan a tus necesidades</p>
                </div><!--/.center-->
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Basico</li>
                            <li class="plan-price">$5</li>
                            <li>1 sucursal</li>
                            <li>2 zonas de atencion</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>6% comision por venta</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Standard</li>
                            <li class="plan-price">$25</li>
                            <li>3 Sucursales</li>
                            <li>10 zonas de atencion</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>5% comision por venta</li>
                            <li>Soporte en Horarios de oficina</li>
                            <li>Manejo de Prepedidos</li>
                            <li>Panel de control y analitycs</li>
                            <li>manejo y control de disponiblidad de productos</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Advanced</li>
                            <li class="plan-price">$99</li>
                            <li>Sucursales ilimitado</li>
                            <li>Zonas de atencion imilitado</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>4% comision por venta</li>
                            <li>Soporte 24/7</li>
                            <li>Manejo de Prepedidos</li>
                            <li>Panel de control y analitycs avanzado</li>
                            <li>manejo y control de disponiblidad de productos</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div>
            </div>
        </div>
        <div class="container servicio-anual">
            <div class="box first">
                <div class="row">
                    <div class="center">
                        <h2>Ahorra comprando nuestro planes</h2>
                        <p class="lead">Compra el plan de forma trimestral y ahorra un 5% <br>o un 10% si compras el plan anual</p>
                    </div><!--/.center-->
                    <div class="col-md-4">
                        <h3>Mensual</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$5</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$25</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$99</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h3>Trimestral</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$14</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$70</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$280</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h3>Anual</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$54</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$270</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$1069</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->
    <section>
      <div class="container">
          <div class="box box-registro">
              <div class="inicio" registro proovedor-full   layout-wrap >

                 <div izquierda-form>
                    <form name="up.upload_form">
                     <file-input ng-model="up.file"></file-input>
                     <md-input-container md-no-float class="md-block">
                        <label>Nombre</label>
                        <input ng-required="true" name="nombre" minlength="5"  ng-model="up.nombre">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.nombre.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                          <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
                        </div>
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Documento (RIF)</label>
                        <input ng-required="true" name="rif" type="text" minlength="5"  ng-model="up.rif" ng-pattern="/[V,G,J,P,E]{1}[0-9]{8}-[0-9]{1}/">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.rif.$error" role="alert">
                            <div ng-message="required">Este campo es requerido</div>
                            <div ng-message="pattern">El campo debe poseer la sigueinte estructura:<br>
                                                    *primer caracater debe se V,J,G,P,E<br>
                                                    *los caracteres del 2 al 8 deben ser numericos<br>
                                                    *seguido de un "-"<br>
                                                    *ultimo caracter debe ser numerico
                                                </div>
                        </div>
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Email</label>
                        <input ng-required="true" name="email" type="email" minlength="5"  ng-model="up.email">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.email.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                        </div>
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Clave</label>
                        <input ng-required="true" name="clave" type="password" minlength="10"  ng-model="up.clave">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.clave.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                          <div ng-message="minlength">Debe poseer al menos 10 carateres</div>
                        </div>
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Reingrese Clave</label>
                        <input ng-required="true" name="clave2" type="password" minlength="10"  ng-model="up.clave2">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.clave2.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                          <div ng-message="minlength">Debe poseer al menos 10 carateres</div>
                        </div>
                     </md-input-container>
                        <p>{{up.progress}}</p>
                        <md-button ng-disabled="up.upload_form.$invalid" class="md-raised md-primary" type="submit" ng-click="up.submit()">{{up.textoBoton}}</md-button>

                    </form>
                 </div>
                 <div class="vertical-divider">

                 </div>

                 <div derecha-form>
                   <!-- TODO: llenar texto texto-->
                    <h2>Registrate con Nosotros</h2>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">offline_pin</md-icon>
                      </md-button>
                       <div class="texto">Completa todos los campo necesarios para poder realizar el registro de manera correcta.</div>
                       <div class="clear"></div>
                    </section>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">offline_pin</md-icon>
                      </md-button>
                       <div class="texto">Recuerda que la imgen que uses debe ser preferiblemente la del logo de tu negocio o empresa.</div>
                       <div class="clear"></div>
                    </section>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">offline_pin</md-icon>
                      </md-button>
                       <div class="texto">Al completar todos tus datos así como imagen puede comenzar a elegir el plan a tu preferencia.</div>
                       <div class="clear"></div>
                    </section>
                 </div>
              </div>

          </div>
      </div>
    </section>


    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <!-- TODO: revisar texto-->
                    <h2>Conoce Al Equipo</h2>
                    <p class="lead">Esta plataforma esta gestionada por un equipo de talentosos<br>profesionales que colocan tus necesidades como su mayor prioridad.</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel ">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="../img/matthew.png" alt="" ></p>
                                        <h3>Victor Leon<small class="designation">CEO &amp; Vicepresidente</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="../img/kristy.png" alt="" ></p>
                                        <h3>Javier Osma<small class="designation">Presidente</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="../img/jenny.jpg" alt="" ></p>
                                        <h3>Miguel Yepez<small class="designation">Director</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="../img/chris.jpg" alt="" ></p>
                                        <h3>Jorge Sarmiento<small class="designation">Director</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->

    <script src="/helpers/vendor/jquery.js"></script>
    <script src="/helpers/vendor/bootstrap.min.js"></script>

</body>
</html>
