<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BALAFRIA Proveedor</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/proveedor-front.css" rel="stylesheet">

</head><!--/head-->

<body>
    <section id="main-slider" class="carousel">
        <div class="filter">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-content">
                            <h1>Empieza ahora</h1>
                            <p class="lead">Registrate ahora y empieza a vender con nosotros,<br> dale mas alcance a tu empresa y unete al mundo web y movil</p>
                            <md-button class="">Regístrate Aqui</md-button>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
            <div class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></div>
            <div class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></div>
        </div>
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-apple icon-md icon-color1"></i>
                            <h4>iOS development</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-android icon-md icon-color2"></i>
                            <h4>Android development</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-windows icon-md icon-color3"></i>
                            <h4>Windows Phone development</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-html5 icon-md icon-color4"></i>
                            <h4>Ruby on Rails development</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-css3 icon-md icon-color5"></i>
                            <h4>Javascript development</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-thumbs-up icon-md icon-color6"></i>
                            <h4>Responsive web design</h4>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->

    </section><!--/#services-->
    <section id="pricing">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Nuestros Precios</h2>
                    <p class="lead"> <br>malesuada fames ac turpis egestas.</p>
                </div><!--/.center-->
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Basico</li>
                            <li class="plan-price">$5</li>
                            <li>1 sucursal</li>
                            <li>2 zonas de atencion</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>6% comision por venta</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Standard</li>
                            <li class="plan-price">$25</li>
                            <li>3 Sucursales</li>
                            <li>10 zonas de atencion</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>5% comision por venta</li>
                            <li>Soporte en Horarios de oficina</li>
                            <li>Manejo de Prepedidos</li>
                            <li>Panel de control y analitycs</li>
                            <li>manejo y control de disponiblidad de productos</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Advanced</li>
                            <li class="plan-price">$99</li>
                            <li>Sucursales ilimitado</li>
                            <li>Zonas de atencion imilitado</li>
                            <li>horarios de atencion ilimitados</li>
                            <li>Servicio de pago electronico (Mercado Pago, Paypal, Skrill)</li>
                            <li>4% comision por venta</li>
                            <li>Soporte 24/7</li>
                            <li>Manejo de Prepedidos</li>
                            <li>Panel de control y analitycs avanzado</li>
                            <li>manejo y control de disponiblidad de productos</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div><!--/.col-sm-4-->
                </div>
            </div>
        </div>
        <div class="container servicio-anual">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Mensual</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$5</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$25</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$99</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h3>Trimestral</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$14</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$70</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$280</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h3>Anual</h3>
                        <table>
                            <tr>
                                <td>Servicio</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Basico</td>
                                <td>$54</td>
                            </tr>
                            <tr>
                                <td>Standard</td>
                                <td>$270</td>
                            </tr>
                            <tr>
                                <td>advanced</td>
                                <td>$1069</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#pricing-->
    <section>
      <div class="container">
          <div class="box box-registro">
              <div class="inicio" registro proovedor-full   layout-wrap>

                 <div izquierda-form>
                    <form name="up.upload_form">
                     <file-input ng-model="up.file"></file-input>
                     <md-input-container md-no-float class="md-block">
                        <label>Nombre</label>
                        <input required name="nombre" minlength="5"  ng-model="up.nombre">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.nombre.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                          <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
                        </div>
                     </md-input-container>
                     <md-input-container md-no-float class="md-block">
                        <label>Descripcion</label>
                        <input required name="descripcion" minlength="5"  ng-model="up.descripcion">
                          <!-- mensajes  -->
                        <div ng-messages="up.upload_form.descripcion.$error" role="alert">
                          <div ng-message="required">Este campo es requerido</div>
                          <div ng-message="minlength">Debe poseer al menos 10 carateres</div>
                        </div>
                     </md-input-container>
                         <md-button class="md-raised md-primary" type="submit" ng-click="up.submit()">Enviar</md-button>
                        <p>{{up.progress}}</p>
                    </form>
                 </div>
                 <div class="vertical-divider">

                 </div>

                 <div derecha-form>
                    <h2>Registrate con Nosotros</h2>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">save</md-icon>
                      </md-button>
                       <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
                       <div class="clear"></div>
                    </section>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">save</md-icon>
                      </md-button>
                       <div class="texto">mag   na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</div>
                       <div class="clear"></div>
                    </section>
                    <section>
                       <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon classs="material-icons">save</md-icon>
                      </md-button>
                       <div class="texto">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                       <div class="clear"></div>
                    </section>
                 </div>
              </div>

          </div>
      </div>
    </section>


    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>Meet the Team</h2>
                    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt="" ></p>
                                        <h3>Agnes Smith<small class="designation">CEO &amp; Founder</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team2.jpg" alt="" ></p>
                                        <h3>Donald Ford<small class="designation">Senior Vice President</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team3.jpg" alt="" ></p>
                                        <h3>Karen Richardson<small class="designation">Assitant Vice President</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team3.jpg" alt="" ></p>
                                        <h3>David Robbins<small class="designation">Co-Founder</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team1.jpg" alt="" ></p>
                                        <h3>Philip Mejia<small class="designation">Marketing Manager</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="images/team2.jpg" alt="" ></p>
                                        <h3>Charles Erickson<small class="designation">Support Manager</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Form</h1>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Our Address</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                        <h1>Connect with us</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                    <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <script src="/helpers/vendor/jquery.js"></script>
    <script src="/helpers/vendor/bootstrap.min.js"></script>

</body>
</html>
