<header class="cliente">
  <div titulo>
    Panel de Control
  </div>
  <div sociales>
    <div avatar>
      <img src="{{header.usuario.avatar.ruta}}" alt="">
      <div opciones>
        <ul>
          <li>{{header.usuario.nombre}}</li>
          <li ui-sref='proveedor.dashboard'><span class="material-icons">dashboard</span>dashboard</li>
          <li><span class="material-icons">settings</span>Ajustes</li>
          <li><span class="material-icons">security</span>Datos seguridad</li>
          <li ng-click="header.logOut()"><span class="material-icons">power_settings_new</span>Cerrar Sesion</li>
        </ul>
      </div>
    </div>
    <div notificaciones ng-click="header.openLeftMenu()">
        <i class="material-icons">notifications_none</i>
    </div>
  </div>
</header>
<!-- SIDENAV -->
<md-sidenav md-component-id="right" class="md-sidenav-right" md-disabled-backdrop="true">
  Left Nav!
</md-sidenav>
<!-- SIDENAV -->
