<header class="cliente">
  <div titulo>
    Panel de Control
  </div>
  <div sociales>
    <div avatar>
      <img src="../../img/matthew.png" alt="">
      <div opciones>
        <ul>
          <li>Matthew</li>
          <li><span class="material-icons">settings</span>Ajustes</li>
          <li><span class="material-icons">security</span>Datos seguridad</li>
          <li><span class="material-icons">power_settings_new</span>Cerrar Sesion</li>
        </ul>
      </div>
    </div>
  </div>
</header>
