<div class="titulo">
  <i class="material-icons ">store</i> Sucursal
</div>
<div form-central md-theme="light">
   <form name="sucursal.form" ng-model="sucursal.form">
    <md-input-container md-no-float class="md-block">
       <label>Nombre</label>
       <input ng-required="true" name="nombre" minlength="5"  ng-model="sucursal.nombre">
         <!-- mensajes  -->
       <div ng-messages="sucursal.nombre.$error" role="alert">
         <div ng-message="required">Este campo es requerido</div>
         <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
       </div>
    </md-input-container>
    <md-input-container md-no-float class="md-block">
      <label>Pais</label>
      <md-select ng-model="sucursal.pais">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="pais in sucursal.paises" ng-value="pais.id_pais" >
          {{pais.nombre}}
        </md-option>
      </md-select>
    </md-input-container>
    <div class="clear"></div>
    <br>
    <md-input-container  md-no-float class="md-block" ng-show="sucursal.pais">
      <label>Ciudad</label>
      <md-select ng-model="sucursal.ciudad">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="ciudad in sucursal.ciudadesAct" ng-value="ciudad.id_ciudad" >
          {{ciudad.nombre}}
        </md-option>
      </md-select>
    </md-input-container>
    <h4 class="md-primary">Tipo de Sucursal</h4>
    <md-divider></md-divider>
    <br>
    <md-radio-group  ng-model="sucursal.radio" layout="row">

      <md-radio-button value="F" class="md-primary">Fisica</md-radio-button>
      <md-radio-button value="V" class="md-primary">Virtual </md-radio-button>

    </md-radio-group>
    <br>
    <h4 class="md-primary">¿Que rubro vendera esta sucursal?</h4>
    <md-divider></md-divider>
    <br>
    <div lista>
      <div categoria class="{{rubro.clase}}" ng-click="sucursal.toggleRubro($index)" ng-repeat="rubro in sucursal.rubros" >
          <div nombre >{{rubro.nombre}}</div>
          <img ng-src="{{rubro.imagen_ruta}}" alt="">
      </div>
    </div>
    <br>
    <br>
        <md-button ng-disabled="sucursal.form.$invalid" class="md-raised md-primary central" type="submit" ng-click="sucursal.submit()">Guardar</md-button>
   </form>
</div>
