<div class="titulo-perfil">
  	<img class="banner" src="{{perfil.usuario.banner || 'img/banner.jpg'}}">
  	<img class="avatar" ng-src="{{perfil.usuario.avatar.ruta}}">
</div>
<div form-central class="cuerpo-perfil" md-theme="light">
   <form name="perfil.form" ng-model="perfil.form">
    <!-- NOTE: Aqui va el perfil -->
    <br>
    <br>
        <md-button ng-disabled="perfil.form.$invalid" class="md-raised md-primary central" type="submit" ng-click="perfil.submit()">Guardar</md-button>
   </form>
</div>
