<div class="inicio" registro proovedor-full   layout-wrap>

   <div izquierda-form>
      <form name="up.upload_form">
       <file-input ng-model="up.file"></file-input>
       <md-input-container md-no-float class="md-block">
          <label>Nombre</label>
          <input required name="nombre" minlength="5"  ng-model="up.nombre">
            <!-- mensajes  -->
          <div ng-messages="up.upload_form.nombre.$error" role="alert">
            <div ng-message="required">Este campo es requerido</div>
            <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
          </div>
       </md-input-container>
       <md-input-container md-no-float class="md-block">
          <label>Descripcion</label>
          <input required name="descripcion" minlength="5"  ng-model="up.descripcion">
            <!-- mensajes  -->
          <div ng-messages="up.upload_form.descripcion.$error" role="alert">
            <div ng-message="required">Este campo es requerido</div>
            <div ng-message="minlength">Debe poseer al menos 10 carateres</div>
          </div>
       </md-input-container>
           <md-button class="md-raised md-primary" type="submit" ng-click="up.submit()">Enviar</md-button>
          <p>{{up.progress}}</p>
      </form>
   </div>
   <div class="vertical-divider">

   </div>

   <div derecha-form>
      <h2>Registrate con Nosotros</h2>
      <section>
         <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon classs="material-icons">save</md-icon>
        </md-button>
         <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
         <div class="clear"></div>
      </section>
      <section>
         <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon classs="material-icons">save</md-icon>
        </md-button>
         <div class="texto">mag   na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</div>
         <div class="clear"></div>
      </section>
      <section>
         <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon classs="material-icons">save</md-icon>
        </md-button>
         <div class="texto">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
         <div class="clear"></div>
      </section>
   </div>
</div>
