<div class="sucursal" md-theme="light">
	<div banner>
		<img id="banner" ng-src="{{sucursal.temp.banner.ruta}}">
		<div class="edit" ng-click="sucursal.cambioBanner()">
			<i class="material-icons">photo</i>
		</div>
		<div class="puntuacion material-icons">
			star star star star star
		</div>
		<div titulo>
			<img ng-src="{{sucursal.usuario.avatar.ruta}}" alt="">
			<div ng-show="!sucursal.edit">{{sucursal.temp.nombre }}</div>
			<div class="informacion-sucursal">
				<ul>
					<li>
						35<br>
						<label>Pedidos</label>
					</li>
					<li>
						200<br>
						<label>visitas</label>
					</li>
					<li>
						4<br>
						<label>visitas hoy</label>
					</li>
					<li>
						3<br>
						<label>favoritos</label>
					</li>
					<li>
						20<br>
						<label>promociones</label>
					</li>
				</ul>
			</div>
			<input id="nombre" ng-show="sucursal.edit" type="text"  value="{{sucursal.temp.nombre }}">
			<i class="material-icons" ng-click="sucursal.editar();">{{sucursal.icono}}</i>
		</div>
	</div>
	<div class="cambios" ng-show="sucursal.temp.cambio">
		<div texto>¿Desea guardar los cambios?</div>
		<md-button class="md-raised" style="color:#4CAF50" ng-click="sucursal.guardarCambios()">Guardar</md-button>
		<md-button class="md-raised" style="color:#f44336" ng-click="sucursal.revertirCambios()">Cancelar</md-button>
		<div class="clear"></div>
	</div>
	<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
		<md-tab>
			<md-tab-label><i class="material-icons">star</i></md-tab-label>
	        <md-tab-body>
	        	<h2>Puntuacion</h2>
	        </md-tab-body>
	    </md-tab>
		<md-tab>
	        <md-tab-label><i class="material-icons">home</i></md-tab-label>
	        <md-tab-body>
	          <div class="descripcion">
							<textarea id="descripcion" ng-show="sucursal.edit" >{{sucursal.temp.descripcion }}</textarea>
							<div ng-show="!sucursal.edit">
								{{sucursal.temp.descripcion}}
							</div>
	          </div>
						<div class="contactos">
							<section class="telefono">
								02512338978
							</section>
							<section class="web">
								www.pizzaElAguila.com
							</section>
						</div>
	        </md-tab-body>
        </md-tab>
        <md-tab>
	        <md-tab-label><i class="material-icons">gps_fixed</i></md-tab-label>
	        <md-tab-body>
	          <h2>Datos Geograficos</h2>
						<div class="ubicacion">
							<div class="leyenda" ng-show="sucursal.edit">
								<ul>
									<li>
										<div class="text" ng-click="sucursal.agregarUbicacion()">Ubicacion <i  class="material-icons">{{sucursal.mapa.ubicacion.icono}}</i></div>
									</li>
									<li>
										<div class="text">Zonas de atencion</div>
										<ul>
											<li ><div ng-click="sucursal.agregarZona()" class="text">agregar <i class="material-icons">add</i></div></li>
										</ul>
									</li>
								</ul>
							</div>
							<leaflet lf-center="Acarigua" markers="sucursal.markers" paths="sucursal.paths"></leaflet>
						</div>
	        </md-tab-body>
        </md-tab>
				<md-tab>
	        <md-tab-label><i class="material-icons">shopping_basket</i></md-tab-label>
	        <md-tab-body>
	          <h2>Menu</h2>
	        </md-tab-body>
        </md-tab>
	</md-tabs>
	<div ng-show="false">
		<form  name="sucursal.tempForm">
			<input type="file" ngf-select name="sucursa.banner" ngf-pattern="\'image/*\'" accept="image/*" ngf-max-size="20MB" ng-model="sucursal.bannerFile" name="bannerFile" onchange="angular.element(this).scope().cambio(this.files)" />
		</form>
	</div>
</div>
