<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div><i class="material-icons">public</i> Popularidad</div>
      <h4>83%</h4>
      <div><strong class="rojo"> - 26%</strong> from yesterday</div>
    </div>

    <div class="col-md-2">
      <div><i class="material-icons">add_circle_outline</i> Ganancia de hoy</div>
      <h4>$40.00</h4>
      <div><strong class="verde"> - 26%</strong> from yesterday</div>
    </div>

    <div class="col-md-2">
      <div><i class="material-icons">date_range</i> Ganancia del mes</div>
      <h4 class="verde">$200</h4>
      <div><strong class="verde"> - 26%</strong> from yesterday</div>
    </div>

    <div class="col-md-2">
      <div><i class="material-icons">remove_red_eye</i> Visitas</div>
      <h4 class="verde">40</h4>
      <div><strong class="rojo"> - 26%</strong> from yesterday</div>
    </div>

    <div class="col-md-2">
      <div><i class="clock"></i> Tiempo</div>
      <h4>2:10 min</h4>
      <div><strong class="rojo"> - 26%</strong> from yesterday</div>
    </div>

    <div class="col-md-2">
      <div><i class="material-icons">panorama_fish_eye</i> Today Profit</div>
      <h4 class="rojo">$36.45</h4>
      <div><strong class="verde"> - 26%</strong> from yesterday</div>
    </div>
  </div>

  <div class="row">
    <div class="cont-trans">
      <h4>Transacciones</h4>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="cont-trans">
      <h4>Pedidos Activos</h4>
      <ul>
        <md-button class="md-fab " aria-label="Use Android">
          <md-icon class="material-icons">chevron_right</md-icon>
        </md-button>
        <li><i class="material-icons"> account_circle</i> Victor Leon <div class="precio">$200</div></li>
        <li><i class="material-icons"> account_circle</i> Jorge Sarmiento <div class="precio">$30</div></li>
      </ul>
    </div>

    <div class="cont-trans">
      <h4>Notificaciones</h4>
      <ul>
        <md-button class="md-fab " aria-label="Use Android">
          <md-icon class="material-icons">chevron_right</md-icon>
        </md-button>
        <li><i class="material-icons"> account_circle</i> Victor Leon <div class="precio">$200</div></li>
        <li><i class="material-icons"> account_circle</i> Jorge Sarmiento <div class="precio">$30</div></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h4>Pedidos</h4>
    <table>
      <tr>
        <td>Fecha</td>
        <td>Correo</td>
        <td>Cantidad</td>
        <td>Estatus</td>
        <td>Total</td>
        <td>Detalle</td>
      </tr>
      <tr>
        <td>05-05-2017</td>
        <td>vrinox@gmail.com</td>
        <td>4</td>
        <td><span class="progreso">completado</span></td>
        <td>$215.74</td>
        <td><i class="material-icons">search</i></td>
      </tr>
      <tr>
        <td>05-05-2017</td>
        <td>vrinox@gmail.com</td>
        <td>4</td>
        <td><span class="completado">completado</span></td>
        <td>$215.74</td>
        <td><i class="material-icons">search</i></td>
      </tr>
      <tr>
        <td>05-05-2017</td>
        <td>vrinox@gmail.com</td>
        <td>4</td>
        <td><span class="pendiente">completado</span></td>
        <td>$215.74</td>
        <td><i class="material-icons">search</i></td>
      </tr>
    </table>
    <div class="paginacion">
      Pagina:
      1 1-5 de 10
      <i class="material-icons">chevron_left</i>
      <i class="material-icons">chevron_right</i>
    </div>
  </div>

  <div class="row">
    <div class="cont-trans">
      <h4>Ventas</h4>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="cont-trans">
      <h4>Mapa de Ventas</h4>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
