.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0  rgba(33,150,243, 0.8);
  animation: pulse 0.8s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0  rgba(33,150,243, 0.8);
    box-shadow: 0 0 0 0  rgba(33,150,243, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 40px  rgba(33,150,243, 0);
      box-shadow: 0 0 0 40px  rgba(33,150,243, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0  rgba(33,150,243, 0);
      box-shadow: 0 0 0 0  rgba(33,150,243, 0);
  }
}
