div[ui-view="cart"]{
  height: 0px;
  div.omni-cart{
    z-index: 999999;
    @include BoxShadowHelper(3);
    left:160px;
    top:5px;
    overflow-x:hidden;
    overflow-y:auto;
    background: silver;
    &.cerrado{
      width: 50px;
      height: 50px;
      background-color: $color-primary-darkest;
      border:2px solid white;
      border-radius: 100px;
      color: white;
      i.icono-carro{
        display: block;
      }
      div.cart-content{
        display: none;
      }
    }
    &.abierto{
      border-radius: 3px;
      background: white;
      border:1px solid silver;
      i.icono-carro{
        position: absolute;
        right: 20px;
        top: 0px;
        color: white;
        z-index: 9;
      }
      div.cart-content{
        display: block;
      }
    }
    &.inactivo{
      display: none;
    }
    &.activo{
      position: fixed !important;
    }
    i{
      margin-top: 10px;
      margin-left: 9px;
      font-size: 28px;
      cursor:pointer;
      transition:right 0.5s ease-in-out;
    }
    div.cart-title{
      max-height: 48px;
      text-align: center;
      i{
        float:left;
        margin-top: 0px;
        margin-left: 0px;
      }
    }
    div.cart-order{
      width: calc(100% - 10px);
      margin-left: 5px;
      margin-bottom: 10px;
      @include BoxShadowHelper(2);     
      div.proveedor-title{
        position: relative;
        margin-top: 5px;
        height: 50px !important;
        width: calc(100%);  
        img{
          width: 40px;
          height: 40px;
          flex:none;
          border-radius:50%;
        }
      }
      div.subtitulo{
        width: 100%;
        text-indent: 20px;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        color: $color-texto-sub-titulo;
        margin-top: 20px;
      }
      div.cart-item{      
        width: calc(100% - 20px);
        margin-left: 10px;
        position: relative;
        height: 120px;
        margin-top: 10px;
        color:black;
        border-bottom: 1px solid rgba(black,0.1);
        img.imagen{
          width: 110px;
          height: 110px;
          @include BoxShadowHelper(1);
          float:left;
        }
        div{
          width:calc(100% - 120px);
          margin-left: 10px;
          margin-top: 5px;
          float: left;
          &.nombre{
            max-width: calc(100% - 150px);
            color:rgba($color-primary,0.8);
            font-size: 18px;
            p{
              color:rgba(black,0.6);
              font-size: 15px;
            }
          }
          &.valor{
            font-size: 15px;
            div.cantidad{
              width: auto;
              float:right;
              position: absolute;
              right: 5px;
              width: 20px;
              top: -10px;
              font-size: 20px;
              i{
                border: 2px solid;
                border-radius: 50%;
                font-size: 18px;
                margin-left: -5px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: $color-primary;
              }
            }
            div.precio{
              width: auto;
              float: left;
              color:$color-precio;
              font-weight: bold;
            }
          }
        }
      }
      div.order-type{
        button{
          @include BoxShadowHelper(1);
          color: $color-acent;
          &:hover,&.selected{
            @include BoxShadowHelper(2);
            background-color: $color-acent;
            color: white;
          }
        }
      }
      div.order-total{
        margin-top: 10px;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        position: relative;
        i{
          position: absolute;
          top: -2px;
          right: 10px;
          z-index: 10;
        }
      }
    }
  }
}
