div[input-file] {
  border: 1px solid silver;
  width: 160px;
  padding: 10px;
  margin-bottom: 10px; }
  div[input-file] input[type="file"] {
    display: none; }
  div[input-file] label {
    color: grey; }
  div[input-file] img[ngf-thumbnail] {
    width: 140px !important;
    height: 140px !important;
    cursor: pointer; }

md-content[landing].admin {
  overflow: auto; }
  md-content[landing].admin div.botonera {
    position: fixed;
    bottom: 10px;
    right: 10px; }
  md-content[landing].admin h1, md-content[landing].admin h2, md-content[landing].admin h3 {
    color: white; }
  md-content[landing].admin div[ui-view="body"] {
    min-height: auto;
    min-height: 100%;
    overflow: auto; }
  md-content[landing].admin div.admin {
    background-color: #e2e2e2 !important;
    width: 100%;
    height: auto;
    overflow: auto !important; }
    md-content[landing].admin div.admin div.banner {
      width: 100%;
      height: 400px;
      position: relative; }
      md-content[landing].admin div.admin div.banner img {
        width: 100%;
        height: 100%; }
    md-content[landing].admin div.admin div.form-log {
      width: 600px;
      height: 500px;
      background: white;
      margin: -135px auto 50px;
      position: relative;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      md-content[landing].admin div.admin div.form-log div.logo {
        position: absolute;
        top: -60px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        width: 100%; }
      md-content[landing].admin div.admin div.form-log div.content-login {
        width: 100%;
        height: auto;
        padding: 20px 0 !important;
        color: #056ef9;
        text-align: center; }
        md-content[landing].admin div.admin div.form-log div.content-login i {
          font-size: 150px; }
        md-content[landing].admin div.admin div.form-log div.content-login h2 {
          margin: 0; }
        md-content[landing].admin div.admin div.form-log div.content-login md-input-container {
          margin: 20px 100px  40px 100px; }
        md-content[landing].admin div.admin div.form-log div.content-login label {
          text-align: left;
          color: grey; }
        md-content[landing].admin div.admin div.form-log div.content-login input {
          border-color: grey;
          color: #056ef9; }
          md-content[landing].admin div.admin div.form-log div.content-login input:focus {
            border-color: #056ef9; }
        md-content[landing].admin div.admin div.form-log div.content-login section .md-raised {
          background-color: #056ef9 !important; }
          md-content[landing].admin div.admin div.form-log div.content-login section .md-raised:hover {
            background-color: #3f51b5 !important; }

div.dash {
  background: #505050;
  min-height: 100%;
  padding-bottom: 50px; }

md-content[landing] header.adminPanel {
  width: calc(100%);
  background: white;
  color: #f44336;
  margin-top: 0 !important;
  line-height: 60px;
  padding-left: 20px;
  font-size: 20px;
  overflow: auto; }
  md-content[landing] header.adminPanel div[hora] {
    float: right;
    margin-right: 40px;
    font-size: 10px; }

md-dialog[aria-label="rubro"] button.md-raised {
  width: calc(100% - 20px); }
md-dialog[aria-label="rubro"] div[input-file] {
  margin: 10px auto 10px; }

.admin div[lista] {
  float: left;
  background: #303030;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;
  min-width: calc(100% - 15px);
  padding-bottom: 0px; }
  .admin div[lista] div[categoria] {
    width: 148px;
    height: 148px;
    float: left;
    border: 1px solid white;
    position: relative; }
    .admin div[lista] div[categoria] div[nombre] {
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.6);
      text-align: center;
      z-index: 2;
      font-family: bebas;
      display: flex;
      align-content: space-between;
      justify-content: center;
      align-items: center;
      font-size: 31px; }
    .admin div[lista] div[categoria] img {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 1; }

div.proveedores.listas {
  width: calc((100% / 3) - 20px);
  min-width: 200px; }
  div.proveedores.listas div.display {
    width: 100%;
    border: none; }
  div.proveedores.listas h3 {
    margin-bottom: 0px; }

div.clientes, div.proveedores {
  float: left;
  background: #303030;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;
  min-width: calc(50% - 15px);
  width: calc((100% / 2) - 20px); }
  div.clientes h3, div.proveedores h3 {
    background: #3F51B5;
    width: calc(100%);
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px; }
    div.clientes h3 i, div.proveedores h3 i {
      font-size: 32px;
      transform: translateY(3px); }
    div.clientes h3 div, div.proveedores h3 div {
      display: inline-block;
      transform: translateY(-5px); }
    div.clientes h3 div + i, div.proveedores h3 div + i {
      float: right;
      cursor: pointer; }
  div.clientes div.list, div.proveedores div.list {
    width: calc(50% - 10px);
    float: left; }
  div.clientes md-list-item.list-mini, div.proveedores md-list-item.list-mini {
    height: 50px;
    min-height: 50px; }
    div.clientes md-list-item.list-mini div.md-no-style, div.proveedores md-list-item.list-mini div.md-no-style {
      height: 50px;
      min-height: 50px; }
  div.clientes div.display, div.proveedores div.display {
    width: calc(50% - 10px);
    height: auto;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-right: 10px;
    border-left: 1px solid silver; }
    div.clientes div.display div.widget, div.proveedores div.display div.widget {
      width: calc(50% - 20px);
      height: 60px;
      border: 1px solid;
      border-radius: 3px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: inline-block;
      text-align: center;
      flex-shrink: 0;
      flex-grow: 1;
      min-width: 25%;
      overflow: hidden; }
      div.clientes div.display div.widget div.icon-left, div.proveedores div.display div.widget div.icon-left {
        width: 40%;
        height: 60px;
        float: left;
        margin: 0;
        line-height: 100px;
        border-right: 1px solid;
        color: white; }
        div.clientes div.display div.widget div.icon-left i, div.proveedores div.display div.widget div.icon-left i {
          font-size: 50px; }
      div.clientes div.display div.widget .conectado, div.proveedores div.display div.widget .conectado {
        background: #4CAF50; }
        div.clientes div.display div.widget .conectado + .descripcion, div.proveedores div.display div.widget .conectado + .descripcion {
          color: #4CAF50; }
      div.clientes div.display div.widget .registrado, div.proveedores div.display div.widget .registrado {
        background: #2196F3; }
        div.clientes div.display div.widget .registrado + .descripcion, div.proveedores div.display div.widget .registrado + .descripcion {
          color: #2196F3; }
      div.clientes div.display div.widget .activo, div.proveedores div.display div.widget .activo {
        background: #FFC107; }
        div.clientes div.display div.widget .activo + .descripcion, div.proveedores div.display div.widget .activo + .descripcion {
          color: #FFC107; }
      div.clientes div.display div.widget .inactivo, div.proveedores div.display div.widget .inactivo {
        background: #607D8B; }
        div.clientes div.display div.widget .inactivo + .descripcion, div.proveedores div.display div.widget .inactivo + .descripcion {
          color: #607D8B; }
      div.clientes div.display div.widget div.descripcion, div.proveedores div.display div.widget div.descripcion {
        width: calc(60%);
        height: 60px;
        float: left;
        margin: 0;
        background: white;
        color: grey;
        font-size: 50px; }
        div.clientes div.display div.widget div.descripcion h6, div.proveedores div.display div.widget div.descripcion h6 {
          margin: 10px 0 10px 0;
          font-size: 16px; }

.box-registro {
  padding: 0 !important;
  margin: 0 !important; }

section {
  color: black; }

div.titulo {
  width: 60%;
  min-width: 400px;
  color: white;
  font-size: 50px;
  margin: 50px auto 0px;
  text-align: center; }
  div.titulo i {
    font-size: 50px;
    transform: translateY(9px);
    color: #FFB300; }

div[form-central] {
  width: 50%;
  min-width: 600px;
  margin: 10px auto;
  background-color: white;
  color: #303030;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 40px 40px 40px; }
  div[form-central] button.central {
    width: calc(100%); }
  div[form-central] div[lista] {
    float: left;
    background: transparent;
    padding-bottom: 20px;
    min-width: 300px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10px; }
    div[form-central] div[lista] div[categoria] {
      width: 148px;
      height: 148px;
      float: left;
      border: 2px solid #FFB300;
      position: relative; }
      div[form-central] div[lista] div[categoria].activo {
        border: 1px solid #303030; }
        div[form-central] div[lista] div[categoria].activo div[nombre] {
          color: white; }
      div[form-central] div[lista] div[categoria] div[nombre] {
        color: #FFB300;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        z-index: 2;
        font-family: bebas;
        display: flex;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        font-size: 31px; }
      div[form-central] div[lista] div[categoria] img {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1; }

md-backdrop {
  position: fixed; }

md-sidenav section[cabecera] {
  height: 60px;
  border-bottom: 1px solid #FFB300;
  color: #303030;
  background-color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 10px; }
  md-sidenav section[cabecera] i {
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer; }
    md-sidenav section[cabecera] i.left {
      float: left; }
    md-sidenav section[cabecera] i.right {
      float: right; }
md-sidenav h5 {
  padding: 10px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
  color: white;
  background-color: #3F51B5; }
  md-sidenav h5 i {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    cursor: pointer;
    color: #FFB300; }
  md-sidenav h5:hover {
    background-color: white;
    color: black; }
md-sidenav section.perfil {
  width: 100%;
  color: #303030;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: -10px;
  padding-top: 10px; }
  md-sidenav section.perfil div[avatar] {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 2px solid #303030;
    color: #303030; }
    md-sidenav section.perfil div[avatar] img {
      width: 100%;
      height: 100%;
      z-index: 11;
      border-radius: 100px;
      position: absolute; }
  md-sidenav section.perfil div[opciones] {
    width: 100%;
    height: auto; }
    md-sidenav section.perfil div[opciones] ul {
      background: white;
      margin-bottom: 0;
      margin-top: -12px;
      text-transform: capitalize;
      list-style: none;
      padding: 0;
      font-size: 14px; }
      md-sidenav section.perfil div[opciones] ul li {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
        color: white;
        background-color: #3F51B5; }
        md-sidenav section.perfil div[opciones] ul li:hover {
          background: rgba(0, 0, 0, 0.2); }
        md-sidenav section.perfil div[opciones] ul li:last-child {
          border-bottom: none; }
        md-sidenav section.perfil div[opciones] ul li:first-child {
          text-align: center;
          font-size: 14px;
          background-color: white;
          color: #303030; }
        md-sidenav section.perfil div[opciones] ul li span {
          transform: translateY(7px);
          margin-right: 5px;
          margin-top: -10px;
          color: #FFB300; }

md-content[landing] div[registro][proovedor-full].inicio {
  padding: 0px;
  top: 0px;
  width: 100%;
  height: 700px;
  background-image: url("/img/registro-prov2.jpg");
  background-size: cover;
  border-radius: 0px; }
  md-content[landing] div[registro][proovedor-full].inicio div[izquierda-form] {
    max-width: 400px;
    background-color: #303030;
    float: right;
    width: calc(50% - 10px);
    margin-top: 13px;
    padding: 30px 10px 0px;
    margin-right: 20px; }
    md-content[landing] div[registro][proovedor-full].inicio div[izquierda-form] div[input-file] {
      margin: 0px auto 20px;
      width: 162px; }
    md-content[landing] div[registro][proovedor-full].inicio div[izquierda-form] button.md-raised {
      width: calc(100% - 20px); }
  md-content[landing] div[registro][proovedor-full].inicio div.vertical-divider {
    float: right;
    margin-right: 20px;
    width: 1px;
    background-color: white;
    height: calc(100% - 20px);
    margin-top: 10px;
    z-index: 3; }
  md-content[landing] div[registro][proovedor-full].inicio div[derecha-form] {
    text-shadow: 1px 1px 1px black;
    width: calc(50% - 1px);
    height: calc(100% - 20px);
    float: left;
    padding: 10px 30px; }
    md-content[landing] div[registro][proovedor-full].inicio div[derecha-form] h2 {
      text-align: center;
      margin-bottom: 40px;
      color: white;
      font-size: 32px;
      width: 100%; }
    md-content[landing] div[registro][proovedor-full].inicio div[derecha-form] section {
      margin: 20px 0px;
      width: 100%;
      color: white; }
      md-content[landing] div[registro][proovedor-full].inicio div[derecha-form] section div.texto {
        float: left;
        width: calc(100% - 80px); }
      md-content[landing] div[registro][proovedor-full].inicio div[derecha-form] section button {
        float: left; }

div.clear {
  width: 100%;
  clear: both; }

div.proveedor {
  background-color: #e2e2e2 !important;
  width: 100%;
  height: auto;
  overflow: auto !important; }
  div.proveedor div.banner {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute; }
    div.proveedor div.banner img {
      width: 100%;
      height: 100%; }
  div.proveedor div.form-log {
    width: 400px;
    height: 500px;
    background: white;
    margin: 130px auto 0px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    div.proveedor div.form-log div.logo {
      position: absolute;
      top: -60px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      width: 100%; }
    div.proveedor div.form-log div.content-login {
      width: 100%;
      height: auto;
      padding: 20px 0 !important;
      color: #056ef9;
      text-align: center; }
      div.proveedor div.form-log div.content-login i {
        font-size: 150px; }
      div.proveedor div.form-log div.content-login h2 {
        margin: 0; }
      div.proveedor div.form-log div.content-login md-input-container {
        margin: 20px 100px  40px 100px; }
      div.proveedor div.form-log div.content-login label {
        text-align: left;
        color: grey; }
      div.proveedor div.form-log div.content-login input {
        border-color: grey;
        color: #056ef9; }
        div.proveedor div.form-log div.content-login input:focus {
          border-color: #056ef9; }
      div.proveedor div.form-log div.content-login section .md-raised {
        background-color: #056ef9 !important; }
        div.proveedor div.form-log div.content-login section .md-raised:hover {
          background-color: #3f51b5 !important; }

.verde {
  color: green !important; }

.rojo {
  color: red !important; }

md-content[landing] {
  overflow: auto !important e; }

div.container {
  max-width: 98% !important; }
  div.container div.row {
    background-color: white;
    text-align: center;
    border-radius: 0px;
    margin-bottom: 10px;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    div.container div.row div.col-md-2 {
      padding: 20px 0; }
      div.container div.row div.col-md-2 h4 {
        font-weight: bold;
        font-size: 25px !important;
        color: black; }
      div.container div.row div.col-md-2 div {
        color: silver; }
        div.container div.row div.col-md-2 div:first-child {
          font-size: 14px; }
          div.container div.row div.col-md-2 div:first-child i {
            font-size: 14px;
            transform: translateY(2px); }
        div.container div.row div.col-md-2 div:last-child {
          font-size: 11px; }
    div.container div.row:nth-child(2), div.container div.row:nth-child(4) {
      background: transparent;
      box-shadow: none; }
      div.container div.row:nth-child(2) div.cont-trans, div.container div.row:nth-child(4) div.cont-trans {
        margin-right: 10px;
        width: calc((100% - 66%) - 16px);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        float: left;
        background: white; }
        div.container div.row:nth-child(2) div.cont-trans h4, div.container div.row:nth-child(4) div.cont-trans h4 {
          background: white;
          margin: 0;
          padding: 15px;
          border-bottom: 1px solid silver;
          text-align: left;
          font-size: 14px;
          font-weight: bold;
          color: grey; }
        div.container div.row:nth-child(2) div.cont-trans:last-child, div.container div.row:nth-child(4) div.cont-trans:last-child {
          margin-right: 0px; }
        div.container div.row:nth-child(2) div.cont-trans ul, div.container div.row:nth-child(4) div.cont-trans ul {
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative; }
          div.container div.row:nth-child(2) div.cont-trans ul .md-button.md-fab, div.container div.row:nth-child(4) div.cont-trans ul .md-button.md-fab {
            position: absolute;
            top: -27px;
            right: 20px;
            background-color: #2196F3;
            z-index: 1; }
          div.container div.row:nth-child(2) div.cont-trans ul li, div.container div.row:nth-child(4) div.cont-trans ul li {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid silver;
            margin: 0;
            text-align: left;
            text-indent: 10px;
            padding: 0 10px 15px 10px;
            color: grey; }
            div.container div.row:nth-child(2) div.cont-trans ul li i, div.container div.row:nth-child(4) div.cont-trans ul li i {
              background: #607D8B;
              padding: 10px;
              text-indent: 0;
              border-radius: 100px;
              transform: translateY(18px);
              color: white; }
            div.container div.row:nth-child(2) div.cont-trans ul li div.precio, div.container div.row:nth-child(4) div.cont-trans ul li div.precio {
              margin-left: 50px; }
    div.container div.row:nth-child(3) h4 {
      text-align: left;
      padding: 15px;
      margin: 0;
      color: grey;
      font-weight: bold;
      font-size: 14px; }
    div.container div.row:nth-child(3) table {
      width: 100%;
      margin: 0 auto; }
      div.container div.row:nth-child(3) table tr {
        text-align: left;
        border-bottom: 1px solid silver;
        text-indent: 10px; }
        div.container div.row:nth-child(3) table tr td {
          padding: 10px 0;
          color: grey; }
          div.container div.row:nth-child(3) table tr td span {
            padding: 10px;
            color: white;
            border-radius: 5px; }
            div.container div.row:nth-child(3) table tr td span.progreso {
              background: #03A9F4 !important; }
            div.container div.row:nth-child(3) table tr td span.completado {
              background: #4CAF50 !important; }
            div.container div.row:nth-child(3) table tr td span.pendiente {
              background: #FFC107 !important; }
    div.container div.row:nth-child(3) div.paginacion {
      width: 100%;
      padding: 15px 0;
      text-align: right;
      color: grey; }
      div.container div.row:nth-child(3) div.paginacion i {
        transform: translateY(8px); }

md-dialog[avatar-upload] div[input-file] {
  width: 140px;
  height: 140px;
  padding: 0px;
  border-radius: 100px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid; }
md-dialog[avatar-upload] button {
  width: calc(100% - 16px); }

header i.left-menu {
  float: left !important; }
header div[sociales] {
  z-index: 20; }
  header div[sociales] div[notificaciones] {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    float: right;
    margin: 0px 20px 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    color: #303030;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    header div[sociales] div[notificaciones]:hover {
      background-color: white; }
      header div[sociales] div[notificaciones]:hover i {
        color: #303030 !important; }
    header div[sociales] div[notificaciones] i {
      border: none !important;
      background: none !important;
      padding: 0px !important;
      margin: 0px !important; }
  header div[sociales] div[avatar] {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    float: right;
    margin: -7px 20px 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    border: 2px solid white;
    color: #303030; }
    header div[sociales] div[avatar] img {
      width: 100%;
      height: 100%;
      z-index: 11;
      border-radius: 100px;
      position: absolute; }

div.contVerificacion {
  width: 600px;
  margin: 10px auto;
  background-color: white;
  padding: 0px 0px 20px;
  color: #303030;
  border-radius: 3px;
  overflow: hidden; }
  div.contVerificacion h1 {
    margin: 0px auto;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background: #3F51B5;
    color: white; }
  div.contVerificacion div.avatar {
    width: 200px;
    background-color: #303030;
    color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: left;
    margin: 10px calc(10%); }
    div.contVerificacion div.avatar img {
      width: 140px;
      border-radius: 100px;
      border: 2px solid;
      margin-left: 20px; }
    div.contVerificacion div.avatar h4 {
      width: 100%;
      margin: 15px 0px 0px;
      text-align: center; }
  div.contVerificacion h4 {
    float: left;
    width: calc(50% - 20px);
    margin-top: 30px; }

md-dialog[modal-categoria] {
  width: 100%; }
md-dialog div.menu-item-lista {
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid white; }
  md-dialog div.menu-item-lista:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.03); }
md-dialog div.barra {
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  overflow: hidden; }
  md-dialog div.barra input[type="checkbox"] {
    display: none; }
  md-dialog div.barra label {
    color: white;
    width: calc((100% / 5));
    padding: 10px 0px;
    text-align: center;
    margin: 0px -3px 0px 0px; }
    md-dialog div.barra label.web {
      background-color: #3F51B5; }
    md-dialog div.barra label.phone {
      background-color: #009688; }
    md-dialog div.barra label.face {
      background-color: #3b5999; }
    md-dialog div.barra label.tweet {
      background-color: #55acee; }
    md-dialog div.barra label.insta {
      background-color: #e4405f; }
md-dialog section.preview {
  width: calc(100%);
  float: left;
  margin-top: 10px;
  border-radius: 3px;
  color: white;
  padding: 15px;
  height: 50px;
  margin-right: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  md-dialog section.preview.web {
    background-color: #3F51B5; }
  md-dialog section.preview.phone {
    background-color: #009688; }
  md-dialog section.preview.face {
    background-color: #3b5999; }
  md-dialog section.preview.tweet {
    background-color: #55acee; }
  md-dialog section.preview.insta {
    background-color: #e4405f; }
  md-dialog section.preview.agregar {
    background-color: #009688;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  md-dialog section.preview div {
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transform: translate(0, -7px); }
    md-dialog section.preview div i {
      font-size: 24px !important; }

.sucursal {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: white; }
  .sucursal div.cambios {
    color: white;
    padding-left: 30px;
    font-weight: bold;
    background-color: rgba(66, 66, 66, 0.5);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100000000000;
    width: 100%; }
    .sucursal div.cambios button {
      float: right;
      width: 36px !important;
      height: 36px;
      border-radius: 100px;
      border: none;
      color: white;
      margin: 5px 20px 5px 0px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .sucursal div.cambios div[texto] {
      padding: 10px;
      float: left;
      font-size: 20px; }
  .sucursal div[banner] {
    width: 100%;
    height: calc(100vh - 108px);
    position: relative;
    overflow: hidden; }
    .sucursal div[banner] img {
      width: 100%;
      min-height: 100%; }
    .sucursal div[banner] div.edit {
      font-size: 10px;
      font-weight: bold;
      color: #303030;
      bottom: 100px;
      position: absolute;
      right: 10px;
      cursor: pointer;
      height: 32px;
      background: white;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 100px;
      width: 32px;
      border: 2px solid #303030;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .sucursal div[banner] div.edit i {
        transform: translateY(2px) translateX(2px); }
    .sucursal div[banner] div.puntuacion {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 25px;
      text-shadow: 1px 3px 3px black; }
    .sucursal div[banner] div[titulo] {
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      width: 100%;
      height: 90px;
      font-size: 20px;
      bottom: 1px;
      position: absolute;
      padding-left: 20px;
      padding-top: 8px; }
      .sucursal div[banner] div[titulo] div[ng-show] {
        float: left;
        margin-top: -10px;
        text-indent: 150px; }
      .sucursal div[banner] div[titulo] div.informacion-sucursal {
        margin-top: 25px;
        margin-left: 110px; }
        .sucursal div[banner] div[titulo] div.informacion-sucursal ul {
          list-style: none;
          border-top: 1px solid rgba(255, 255, 255, 0.4);
          width: 600px;
          font-size: 25px;
          margin-left: 40px;
          padding-left: 0px; }
          .sucursal div[banner] div[titulo] div.informacion-sucursal ul li {
            float: left;
            text-align: center;
            padding: 0px 45px 0px 8px;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.6); }
            .sucursal div[banner] div[titulo] div.informacion-sucursal ul li label {
              font-size: 14px;
              font-weight: normal;
              padding: 0px;
              transform: translateY(-15px); }
      .sucursal div[banner] div[titulo] input {
        float: left;
        border: none;
        background-color: transparent;
        width: calc(100% - 250px);
        color: white;
        margin-left: 150px;
        margin-top: -10px; }
      .sucursal div[banner] div[titulo] i {
        float: right;
        transform: translate(-10px, -40px); }
      .sucursal div[banner] div[titulo] img {
        width: 120px;
        height: 120px;
        border-radius: 100px;
        border: 2px solid white;
        position: absolute;
        top: -50px;
        left: 35px; }
  .sucursal h2 {
    color: #303030; }
  .sucursal md-tab-item {
    width: calc(100% / 3); }
  .sucursal div[md-tabs-template] {
    background-color: #E0E0E0; }
    .sucursal div[md-tabs-template] H2 {
      padding-left: 30px;
      position: relative;
      margin-bottom: 17px; }
      .sucursal div[md-tabs-template] H2 .menu {
        position: absolute;
        top: -21px;
        right: 0;
        width: 100%; }
        .sucursal div[md-tabs-template] H2 .menu [texto] {
          float: left; }
    .sucursal div[md-tabs-template] div.descripcion, .sucursal div[md-tabs-template] div.contactos, .sucursal div[md-tabs-template] div.ubicacion {
      margin-bottom: 20px;
      color: #303030;
      padding: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background-color: white; }
      .sucursal div[md-tabs-template] div.descripcion textarea, .sucursal div[md-tabs-template] div.contactos textarea, .sucursal div[md-tabs-template] div.ubicacion textarea {
        border: none;
        width: 100%;
        border: 1px dashed rgba(0, 0, 0, 0.4); }
    .sucursal div[md-tabs-template] div.descripcion, .sucursal div[md-tabs-template] div.contactos {
      width: calc(50% - 8px);
      margin-left: 5px;
      margin-top: 5px;
      float: left; }
    .sucursal div[md-tabs-template] div.contactos section {
      width: calc(50% - 10px);
      float: left;
      margin-top: 10px;
      border-radius: 3px;
      color: white;
      padding: 15px;
      height: 50px;
      margin-right: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .sucursal div[md-tabs-template] div.contactos section.web {
        background-color: #3F51B5; }
      .sucursal div[md-tabs-template] div.contactos section.phone {
        background-color: #009688; }
      .sucursal div[md-tabs-template] div.contactos section.face {
        background-color: #3b5999; }
      .sucursal div[md-tabs-template] div.contactos section.tweet {
        background-color: #55acee; }
      .sucursal div[md-tabs-template] div.contactos section.insta {
        background-color: #e4405f; }
      .sucursal div[md-tabs-template] div.contactos section.agregar {
        background-color: #009688;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .sucursal div[md-tabs-template] div.contactos section div {
        float: left;
        width: 36px;
        height: 36px;
        border-radius: 100px;
        color: white;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transform: translate(0, -7px); }
        .sucursal div[md-tabs-template] div.contactos section div i {
          font-size: 24px !important; }
    .sucursal div[md-tabs-template] div.ubicacion {
      width: calc(100% - 10px);
      height: 500px;
      background-color: white;
      padding: 0px;
      position: relative;
      margin-left: 5px;
      margin-bottom: 10px;
      margin-top: 10px; }
      .sucursal div[md-tabs-template] div.ubicacion h3 {
        padding: 30px 20px 10px;
        margin: 0px; }
      .sucursal div[md-tabs-template] div.ubicacion div.angular-leaflet-map {
        height: calc(100% - 66px);
        width: 100%; }
      .sucursal div[md-tabs-template] div.ubicacion div.leyenda {
        position: absolute;
        right: 13px;
        top: 13px;
        z-index: 1000000;
        width: 180px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
        .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul {
          list-style: none;
          padding-left: 0px;
          margin-bottom: 0px;
          background-color: #303030; }
          .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li {
            width: 100%;
            color: white; }
            .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li ul {
              padding-left: 10px !important; }
              .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li ul li:last-child div {
                border-bottom: none; }
            .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li div.text {
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);
              padding: 5px;
              width: calc(100%);
              background-color: #303030;
              cursor: pointer; }
              .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li div.text i {
                transform: translate(-5px, 5px);
                float: right;
                font-size: 14px;
                cursor: pointer; }
              .sucursal div[md-tabs-template] div.ubicacion div.leyenda ul li div.text.disabled {
                cursor: default;
                color: rgba(255, 255, 255, 0.8); }
    .sucursal div[md-tabs-template] div.categoria {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden; }
      .sucursal div[md-tabs-template] div.categoria div.tit-cat {
        position: absolute;
        bottom: 0px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        left: 0px;
        width: 100%;
        text-align: left;
        font-size: 24px;
        color: white; }
      .sucursal div[md-tabs-template] div.categoria div.texto-categoria {
        color: #949494;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 3px;
        height: 150px;
        text-align: center;
        font-size: 35px;
        padding: 50px;
        position: relative;
        overflow: hidden; }
        .sucursal div[md-tabs-template] div.categoria div.texto-categoria img {
          width: calc(100%);
          left: 0px;
          margin-top: -50px;
          min-height: 150px;
          position: absolute;
          z-index: 0; }
        .sucursal div[md-tabs-template] div.categoria div.texto-categoria input {
          background-color: transparent;
          border: 1px dashed silver;
          padding: 0px 3px;
          width: 100%;
          font-size: 20px;
          color: white; }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria input.secuencia {
            position: absolute;
            width: 60px;
            top: 10px;
            right: 10px;
            color: #303030; }
        .sucursal div[md-tabs-template] div.categoria div.texto-categoria:hover i.edit, .sucursal div[md-tabs-template] div.categoria div.texto-categoria:hover i.guardar, .sucursal div[md-tabs-template] div.categoria div.texto-categoria:hover i.borrar {
          left: 10px; }
        .sucursal div[md-tabs-template] div.categoria div.texto-categoria i {
          transition: box-shadow 0.3s ease-in-out;
          position: absolute;
          color: #3F51B5;
          z-index: 10;
          cursor: pointer;
          border-radius: 100px;
          padding: 3px;
          background: white; }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria i:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.guardar, .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.borrar, .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.edit {
            left: -60px;
            top: 10px;
            transition: all 0.3s ease-in-out; }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.borrar {
            top: 55px;
            width: 30px;
            transition: all 0.6s ease-in-out; }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.mostrar {
            right: 16px;
            bottom: 13px; }
          .sucursal div[md-tabs-template] div.categoria div.texto-categoria i.close {
            background-color: transparent;
            right: 15px;
            top: 12px;
            color: white; }
      .sucursal div[md-tabs-template] div.categoria div.cont-productos {
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px; }
        .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          border-radius: 3px;
          background-color: white;
          width: calc((100% / 2) - 5px);
          margin-bottom: 10px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover i.edit, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover i.guardar, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover i.borrar {
            left: 10px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover div.img img {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            transform: scale(1.05); }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover div.descrip button.shop-btn {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            width: 100px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:hover div.descrip button.shop-btn div.texto-aparece {
            width: 80px;
            opacity: 1; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:nth-child(odd) {
            margin-right: 5px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto:nth-child(even) {
            margin-left: 5px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.texto-producto {
            color: #949494;
            text-align: center;
            font-size: 35px;
            padding: 50px; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img {
            padding: 0; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img img {
              transition: all 0.3s ease-in-out;
              width: 100%;
              height: 100%;
              min-height: 228px; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img:hover i.edit, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img:hover i.guardar, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img:hover i.borrar, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img:hover i.cancelar {
              transform: scale(1); }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i {
              transition: box-shadow 0.3s ease-in-out;
              position: absolute;
              color: #3F51B5;
              z-index: 10;
              cursor: pointer;
              border-radius: 100px;
              padding: 3px;
              background: white; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i:hover {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.guardar, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.edit, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.borrar, .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.cancelar {
                transform: scale(0);
                left: 10px;
                top: 10px;
                transition: all 0.2s ease-in-out; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.borrar {
                transition: all 0.4s ease-in-out;
                top: 55px;
                width: 30px; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.cancelar {
                transition: all 0.6s ease-in-out;
                top: 100px;
                width: 30px; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.mostrar {
                right: 16px;
                bottom: 13px; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.img i.close {
                background-color: transparent;
                right: 15px;
                top: 12px;
                color: white; }
          .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip {
            color: grey;
            padding-top: 15px;
            padding-bottom: 15px;
            height: 100%; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip textarea {
              min-height: 100px;
              border: 1px dashed silver;
              width: 100%; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip input {
              border: 1px dashed silver;
              width: 150px; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip input.secuencia {
                margin-top: 10px;
                width: 60px;
                font-size: 20px; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip h4 {
              color: #303030; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip div.precio {
              position: absolute;
              right: 20px;
              bottom: 10px;
              font-size: 25px;
              color: #303030; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip div.precio:before {
                content: "Bs ";
                color: grey;
                font-size: 15px; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip div.precio:after {
                content: "00";
                font-size: 10px;
                transform: translateX(-15px); }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip div.precio input {
                width: 100px; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip div.arriba {
              right: 20px;
              top: 10px;
              font-size: 20px; }
            .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip button.shop-btn {
              transition: all 0.3s ease-in-out;
              color: white;
              background-color: #FFB300;
              border: none;
              padding: 7px 6px 7px 0px;
              border-radius: 100px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              right: 20px;
              bottom: 20px;
              position: absolute;
              width: 38px;
              overflow: hidden;
              text-align: right; }
              .sucursal div[md-tabs-template] div.categoria div.cont-productos div.producto div.descrip button.shop-btn div.texto-aparece {
                width: 0px;
                transition: all 0.5s;
                position: absolute;
                overflow: hidden;
                font-size: 17px;
                text-align: left;
                padding: 5px 10px;
                opacity: 0;
                font-family: serif; }

.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(33, 150, 243, 0.8);
  animation: pulse 0.8s infinite; }

.pulse:hover {
  animation: none; }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.8);
    box-shadow: 0 0 0 0 rgba(33, 150, 243, 0.8); }
  70% {
    -moz-box-shadow: 0 0 0 40px rgba(33, 150, 243, 0);
    box-shadow: 0 0 0 40px rgba(33, 150, 243, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(33, 150, 243, 0);
    box-shadow: 0 0 0 0 rgba(33, 150, 243, 0); } }
/*-------------salidas--------------------------------*/
.salida-lateral-derecha {
  animation-name: salida-derecha;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes salida-derecha {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9);
    left: 0px; }
  100% {
    transform: scale(0.9);
    left: -100%; } }
.salida-lateral-izquierda {
  animation-name: salida-izquierda;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes salida-izquierda {
  0% {
    transform: scale(1);
    left: 0px; }
  50% {
    transform: scale(0.9);
    left: 0px; }
  100% {
    transform: scale(0.9);
    left: 100%; } }
/*-------------entradas--------------------------------*/
.entrada-lateral-izquierda {
  animation-name: entrada-izquierda;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes entrada-izquierda {
  0% {
    transform: scale(0.9);
    left: -100%; }
  50% {
    transform: scale(0.9);
    left: -100%; }
  90% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    left: 0%; } }
.entrada-lateral-derecha {
  animation-name: entrada-derecha;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

@keyframes entrada-derecha {
  0% {
    transform: scale(0.9);
    left: 100%; }
  50% {
    transform: scale(0.9);
    left: 100%; }
  90% {
    transform: scale(0.9); }
  100% {
    transform: scale(1);
    left: 0; } }
div.foot {
  text-align: center; }
  div.foot h1 {
    font-size: 24px;
    margin: 5px 0 10px; }
  div.foot div.box {
    padding: 0px 5px;
    margin-top: 20px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px; }
    div.foot div.box textarea#message {
      height: 100px; }
    div.foot div.box button {
      padding: 5px;
      font-size: 12px; }
    div.foot div.box div.form {
      border-right: 2px dashed rgba(255, 255, 255, 0.25);
      margin: 10px 0px; }
      div.foot div.box div.form p {
        font-size: 12px; }
    div.foot div.box div.nav div {
      height: 130px;
      margin-top: 10px; }
      div.foot div.box div.nav div:not(:last-child) {
        border-right: 2px dashed rgba(255, 255, 255, 0.25); }
    div.foot div.box div.promo div.borde {
      margin: 10px 0px 10px 10px;
      width: 100%;
      height: 1px;
      border-top: 2px dashed rgba(255, 255, 255, 0.25); }
  div.foot div.power {
    padding: 10px;
    color: white;
    font-size: 24px; }
  div.foot ul {
    text-align: left; }
    div.foot ul.nav {
      list-style: none; }
      div.foot ul.nav li {
        padding-left: 40px; }
    div.foot ul.social {
      display: flex;
      justify-content: space-around;
      height: 45px; }
      div.foot ul.social li a {
        font-size: 14px !important; }
        div.foot ul.social li a i {
          font-size: 24px !important; }

html, body {
  min-height: 100%; }

.leaflet-bottom {
  display: none; }

div.md-toast-content {
  background: white !important;
  color: #3F51B5 !important; }

md-sidenav {
  background-color: white; }

div.md-toolbar-tools h2 {
  color: white; }

md-menu-content h4 {
  background-color: #303030 !important;
  padding: 15px;
  margin: -10px 0px 0px 0px;
  color: white; }

md-menu-item {
  padding-left: 15px; }
  md-menu-item:hover {
    background-color: silver; }

md-checkbox div.md-container div.md-icon {
  border-color: #303030 !important; }

[login] {
  max-width: 500px;
  width: 100%;
  height: 100%; }
  [login] md-tabs-canvas {
    width: 100%; }
    [login] md-tabs-canvas md-pagination-wrapper {
      width: 100%; }
      [login] md-tabs-canvas md-pagination-wrapper md-tab-item {
        width: 50%; }
        [login] md-tabs-canvas md-pagination-wrapper md-tab-item.md-tab.md-active {
          background-color: #3F51B5;
          color: #FFB300; }
  [login] .inicio {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    padding: 10px 10px;
    color: white;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px; }
    [login] .inicio.google {
      background: #dd4b39; }
    [login] .inicio.md-raised {
      background: #3F51B5; }

div[divider] {
  margin: 10px 10px;
  width: calc(100% - 0px);
  height: 1px;
  background: silver;
  margin-left: -2px;
  padding: 0px; }

md-content[landing].cliente div[ui-view="body"] {
  width: 100%;
  height: calc(100% - 60px); }

md-content[landing] {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative; }
  md-content[landing] header.cliente {
    width: 100%;
    height: 70px;
    background-color: #3F51B5;
    margin-top: -10px; }
    md-content[landing] header.cliente i.material-icons {
      float: right;
      margin-top: 10px;
      padding: 15px;
      font-size: 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      md-content[landing] header.cliente i.material-icons:hover {
        background: #3F51B5; }
    md-content[landing] header.cliente div[titulo] {
      font-family: 'Bebas';
      font-size: 40px;
      margin-left: 30px;
      top: 20%;
      color: white;
      position: relative;
      float: left; }
    md-content[landing] header.cliente div[sociales] {
      float: right;
      width: 340px;
      height: 50%;
      position: relative;
      top: 30%; }
      md-content[landing] header.cliente div[sociales] .md-raised {
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: white;
        border: 1px solid !important;
        box-shadow: none;
        top: -3px;
        float: right; }
        md-content[landing] header.cliente div[sociales] .md-raised:hover span {
          color: white; }
      md-content[landing] header.cliente div[sociales] i {
        color: white;
        border: 1px solid;
        width: 40px;
        height: 35px;
        border-radius: 100px;
        text-align: center;
        padding-top: 5px;
        font-size: 30px;
        float: right;
        margin-right: 20px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
        cursor: pointer; }
        md-content[landing] header.cliente div[sociales] i div[tooltip] {
          margin-top: -15px;
          font-size: 12px;
          transition: all 0.2s ease-in-out;
          color: transparent;
          z-index: 3;
          width: 60px; }
          md-content[landing] header.cliente div[sociales] i div[tooltip]:after {
            transition: inherit;
            content: '';
            background-color: transparent;
            position: absolute;
            margin-top: -22px;
            margin-left: -42px;
            border-bottom: 10px solid transparent;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-top: 10px solid transparent;
            z-index: 3; }
        md-content[landing] header.cliente div[sociales] i:hover div[tooltip] {
          font-size: 12px;
          text-align: center;
          border: 1px solid silver;
          margin-left: -10px;
          color: white;
          padding: 6px;
          border-radius: 3px;
          margin-top: 10px;
          background-color: #3F51B5;
          position: absolute; }
          md-content[landing] header.cliente div[sociales] i:hover div[tooltip]:after {
            border-bottom: 10px solid #3F51B5; }
  md-content[landing] div[principal] {
    width: 100%;
    height: calc(100%); }
    md-content[landing] div[principal] div[mapa] {
      float: left;
      height: 100%;
      width: calc(100% - 301px);
      position: relative;
      z-index: 1; }
      md-content[landing] div[principal] div[mapa] md-toolbar {
        min-height: 48px !important;
        height: 48px !important; }
        md-content[landing] div[principal] div[mapa] md-toolbar div[rubros-tab] {
          padding: 15px;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          transition: border 0.3s;
          border-bottom: 4px solid; }
          md-content[landing] div[principal] div[mapa] md-toolbar div[rubros-tab].active {
            background-color: rgba(0, 0, 0, 0.2); }
      md-content[landing] div[principal] div[mapa] div.angular-leaflet-map {
        width: calc(100% - 0px);
        height: calc(100% - 96px); }
      md-content[landing] div[principal] div[mapa] md-toolbar.bottom {
        bottom: 0;
        position: absolute; }
        md-content[landing] div[principal] div[mapa] md-toolbar.bottom button {
          transition: all 0.3s ease-in-out; }
          md-content[landing] div[principal] div[mapa] md-toolbar.bottom button:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    md-content[landing] div[principal] div[lista] {
      width: 300px;
      height: 100%;
      float: left;
      border-top: 1px solid silver;
      border-right: 1px solid silver;
      position: relative; }
      md-content[landing] div[principal] div[lista] div.toolbar-search {
        width: 100%;
        height: 40px;
        margin-bottom: 2px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: white; }
        md-content[landing] div[principal] div[lista] div.toolbar-search input {
          height: 100%;
          border: none;
          padding: 5px;
          float: right;
          outline: none;
          width: calc(100% - 78px); }
        md-content[landing] div[principal] div[lista] div.toolbar-search i {
          color: #777;
          padding-top: 10px; }
          md-content[landing] div[principal] div[lista] div.toolbar-search i.buscar {
            padding-left: 20px; }
          md-content[landing] div[principal] div[lista] div.toolbar-search i.lista {
            padding-right: 10px;
            float: right;
            cursor: pointer; }
      md-content[landing] div[principal] div[lista] div.cont-rubros {
        position: absolute;
        background-color: #303030;
        padding-bottom: 3px;
        overflow: hidden;
        height: calc(100% - 43px);
        width: 100%;
        left: 0px;
        top: 43px; }
        md-content[landing] div[principal] div[lista] div.cont-rubros [categoria] {
          width: 148px;
          height: 148px;
          float: left;
          border: 1px solid white;
          position: relative;
          background: white; }
          md-content[landing] div[principal] div[lista] div.cont-rubros [categoria] div[nombre] {
            color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6);
            text-align: center;
            z-index: 2;
            font-family: bebas;
            display: flex;
            align-content: space-between;
            justify-content: center;
            align-items: center;
            font-size: 31px; }
          md-content[landing] div[principal] div[lista] div.cont-rubros [categoria] img {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 1; }
      md-content[landing] div[principal] div[lista] div.cont-sucursales {
        position: absolute;
        width: 100%;
        height: calc(100% - 43px);
        left: 100%;
        top: 43px;
        background-color: #303030; }
        md-content[landing] div[principal] div[lista] div.cont-sucursales h4 {
          margin: 10px 0px;
          text-indent: 15px;
          font-size: 25px; }
        md-content[landing] div[principal] div[lista] div.cont-sucursales i.cerrar {
          position: absolute;
          right: 0px;
          padding: 10px;
          cursor: pointer; }
  md-content[landing] div[registro] {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 400px;
    left: 8%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid silver;
    padding: 0px 10px; }
    md-content[landing] div[registro] .md-raised {
      color: white; }
    md-content[landing] div[registro].inicio {
      position: relative;
      margin: 0 auto;
      left: 0px;
      top: 150px; }
      md-content[landing] div[registro].inicio div[cabecera] {
        margin-bottom: 33px;
        padding-top: 50px;
        height: 60px;
        font-size: 30px;
        text-transform: uppercase;
        border-bottom: 1px solid silver; }
    md-content[landing] div[registro] div[cabecera] {
      background-color: rgba(0, 155, 219, 0.6);
      text-align: center;
      width: 100%;
      padding: 20px 0px 20px 18px;
      color: white;
      font-size: 20px;
      margin: -10px 0px 20px -10px; }

/*# sourceMappingURL=landing.css.map */
