$color-primary:#FF5722;
$color-warn:#FFC107;
$color-acent:#b71c1c;
$color-favs:#b71c1c;
$color-precio:#b71c1c;
.color-primario{
	background-color: $color-primary;
}
.texto-primario{
	color:$color-primary;
}
