.box-registro{
    padding: 0 !important;
    margin: 0 !important;
}
section{
    color: black;
}
div.titulo{
  width: 60%;
  min-width: 400px;
  color: white;
  font-size: 50px;
  margin: 50px auto 0px;
  text-align: center;
  i{
    font-size: 50px;
    transform: translateY(9px);
    color:$color-acent;
  }
}
div[form-central]{
  width: 50%;
  min-width: 600px;
  margin: 10px auto;
  background-color: white;
  color: #303030;
  @include BoxShadowHelper(3);
  padding: 40px 40px 40px;
  button.central{
    width: calc(100%);
  }
  div[lista]{
    float: left;
    background: transparent;
    padding-bottom: 20px;
    min-width: 300px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-left:10px;
    div[categoria]{
      width: 148px;
      height: 148px;
      float: left;
      border: 2px solid $color-acent;
      position: relative;

      &.activo{        
        border: 1px solid rgba(48,48,48,1);
        div[nombre]{
         color:white;
        }
      }

      div[nombre]{
        color: $color-acent;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        z-index: 2;
        font-family: bebas;
        display: flex;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        font-size: 31px;
      }
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}
md-sidenav{
  section[cabecera]{
    height: 60px;
    border-bottom: 1px solid white;
    color: #303030;
    background-color: white;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    i{
      margin-right: 10px;
      margin-top: 3px;
      cursor: pointer;
      &.left{
        float: left;
      }
      &.right{
        float:right;
      }
    }
  }
  h5{
    padding: 10px;
    margin: 0px;
    transition: all 0.3s ease-in-out;
    i{
      float:left;
      margin-right: 10px;
      margin-top: -5px;
      cursor: pointer;
    }
    &:hover{
      background-color: white;
      color:black;
    }
  }
}
md-content[landing] div[registro][proovedor-full].inicio{
    padding: 0px;
    top: 0px;
    width: 100%;
    height:700px;
    background-image: url("/img/registro-prov2.jpg");
    background-size: cover;
    border-radius: 0px;
    div[izquierda-form]{
        max-width: 400px;
        background-color: #303030;
        float: right;
        width: calc(50% - 10px);
        margin-top: 13px;
        padding: 30px 10px 0px;
        margin-right: 20px;
        div[input-file]{
          margin: 0px auto 20px;
          width: 162px;
        }
        button.md-raised{
        width: calc(100% - 20px);
      }
    }
    div.vertical-divider{
      float: right;
      margin-right: 20px;
      width: 1px;
      background-color: white;
      height: calc(100% - 20px);
      margin-top: 10px;
      z-index: 3;
    }
    div[derecha-form]{
      text-shadow: 1px 1px 1px black;
      width: calc(50% - 1px);
      height: calc(100% - 20px);
      float: left;
      padding: 10px 30px;
      h2{
          text-align: center;
          margin-bottom: 40px;
          color: white;
          font-size: 32px;
          width: 100%;
      }
      section{
          margin: 20px 0px;
          width: 100%;
          color: white;
          div.texto{
              float: left;
              width: calc(100% - 80px);
          }
          button{
              float: left;
          }
      }
    }
}
div.clear{
    width: 100%;
    clear:both;
}
div.proveedor{
  background-color: #e2e2e2 !important;
  width: 100%;
  height: auto;
  overflow: auto !important;
  div.banner{
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;;
    img{
      width: 100%;
      height: 100%;
    }
  }

  div.form-log{
    width: 400px;
    height: 500px;
    background: white;
    margin: 130px auto 0px;
    position: relative;
    border-radius: 4px;
    @include BoxShadowHelper(3);
    div.logo{
      position: absolute;
      top: -60px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
    div.content-login{
      width: 100%;
      height: auto;
      padding: 20px 0 !important;
      color: #056ef9;
      text-align: center;
      i{
        font-size: 150px;
      }
      h2{
        margin: 0;
      }
      md-input-container{
        margin: 20px 100px  40px 100px;
      }
      label{
        text-align: left;
        color:grey;
      }
      input{
        border-color: grey;
        color: #056ef9;
        &:focus{
          border-color: #056ef9;
        }
      }
      section{
        .md-raised{
          background-color: #056ef9 !important;
          &:hover{
            background-color: #3f51b5 !important;
          }
        }
      }
    }
  }
}
