md-content[landing] div[registro][proovedor-full].inicio{
    padding: 0px;
    top: 20px;
    width: 90%;
    margin: 10px auto;
    height:600px;
    background-image: url("/img/registro-prov2.jpg");
    background-size: cover;
    div[izquierda-form]{
        max-width: 400px;
        background-color: #303030;
        float: right;
        width: calc(50% - 10px);
        margin-top: 40px;
        padding: 30px 10px 0px;
        margin-right: 20px;
        @include BoxShadowHelper(3);
        div[input-file]{
          margin: 0px auto 60px;
        }
        button.md-raised{
        width: calc(100% - 20px);
      }
    }
    div.vertical-divider{
      float: right;
      margin-right: 20px;
      width: 1px;
      background-color: white;
      height: calc(100% - 20px);
      margin-top: 10px;
      z-index: 3;
    }
    div[derecha-form]{
      text-shadow: 1px 1px 1px black;
      width: calc(50% - 1px);
      height: calc(100% - 20px);
      float: left;
      padding: 10px 30px;
      h2{
          text-align: center;
          margin-bottom: 40px;
      }
      section{
          margin: 20px 0px;
          width: 100%;
          div.texto{
              float: left;
              width: calc(100% - 80px);
          }
          button{
              float: left;
          }
      }
    }
}
div.clear{
    width: 100%;
    clear:both;
}
