.sucursal{
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-color: white;
	div.cambios{
		color: white;
		padding-left: 30px;
		font-weight: bold;
		background-color: rgba(66, 66, 66, 0.5);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100000000000;
    width: 100%;
		button{
			float: right;
	    width: 36px !important;
	    height: 36px;
	    border-radius: 100px;
	    border: none;
	    color: white;
	    margin: 5px 20px 5px 0px;
			@include BoxShadowHelper(3);
		}
		div[texto]{
			padding: 10px;
	    float: left;
	    font-size: 20px;
		}
	}
	div[banner]{
		width: 100%;
		height: calc(100vh - 108px);
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			min-height: 100%;
		}
		div.edit{
			font-size: 10px;
	    font-weight: bold;
	    color: #303030;
	    bottom: 100px;
	    position: absolute;
	    right: 10px;
	    cursor: pointer;
	    height: 32px;
	    background: white;
	    margin-left: 10px;
	    margin-top: 10px;
	    border-radius: 100px;
	    width: 32px;
			border: 2px solid #303030;
			@include BoxShadowHelper(3);
			i{
				transform: translateY(2px) translateX(2px);
			}
		}
		div.puntuacion{
			position: absolute;
	    right: 10px;
	    top: 10px;
	    font-size: 25px;
	    text-shadow: 1px 3px 3px black;
		}
		div[titulo]{
			background-color: rgba(0, 0, 0, 0.4);
	    color: white;
	    width: 100%;
	    height: 90px;
	    font-size: 20px;
	    bottom: 1px;
	    position: absolute;
	    padding-left: 20px;
	    padding-top: 8px;
			div[ng-show]{
				float: left;
				margin-top: -10px;
				text-indent: 150px;
			}
			div.informacion-sucursal{
				margin-top: 25px;
		    margin-left: 110px;
				ul{
					list-style: none;
			    border-top: 1px solid rgba(255,255,255,0.4);
					width: 600px;
					font-size: 25px;
			    margin-left: 40px;
			    padding-left: 0px;
					li{
						float: left;
				    text-align: center;
				    padding: 0px 45px 0px 8px;
				    font-size: 22px;
				    color: rgba(255,255,255,0.6);
						label{
							font-size: 14px;
					    font-weight: normal;
					    padding: 0px;
					    transform: translateY(-15px);
						}
					}
				}
			}
			input{
				float:left;
				border: none;
				background-color: transparent;
				width: auto;
				height: 100%;
				color:white;
			}
	    i{
				float: right;
    		transform: translate(-10px,-40px);
	    }
			img{
				width: 120px;
				height: 120px;
				border-radius: 100px;
				border: 2px solid white;
				position: absolute;
				top: -50px;
				left: 35px;
			}
		}
	}
	h2{
		color:#303030;
	}
	md-tab-item{
		width: calc(100% / 3);
	}
	div[md-tabs-template]{
		background-color: #E0E0E0;

		H2{
			padding-left: 30px;
		}
		div.descripcion,div.contactos,div.ubicacion{
			margin-bottom: 20px;
	    color: #303030;
	    padding: 20px;
			@include BoxShadowHelper(3);
			background-color: white;

			textarea{
				border: none;
    		width: 100%;
			}
		}
		div.descripcion,div.contactos{
			width: calc(50% - 8px);
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		div.contactos{
			section{
				width: 50%;
				float: left;
				margin-top: 10px;
				div{
					float:left;
					width: 36px;
					height: 36px;
					border-radius: 100px;
			    color: white;
			    margin-right: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					transform: translate(0,-7px);
					i{
						font-size: 24px !important;
					}
					&.web{
						background-color: #3F51B5;
					}
					&.phone{
						background-color: #009688;
					}
					&.face{
						background-color: #3b5999;
					}
					&.tweet{
						background-color: #55acee;
					}
					&.insta{
						background-color: #e4405f;
					}
				}
			}
		}
		div.ubicacion{
			width: calc(100% - 10px);
	    height: 400px;
	    background-color: white;
	    padding: 0px;
	    position: relative;
	    margin-left: 5px;
	    margin-bottom: 10px;
	    margin-top: 10px;
			h3{
				padding: 30px 20px 10px;
				margin: 0px;
			}
			div.angular-leaflet-map{
				height: calc(100% - 66px);
				width: 100%;
			}
			div.leyenda{
				position: absolute;
				right: 13px;
				top: 13px;
				z-index: 1000000;
				width: 180px;
				@include BoxShadowHelper(3);
				ul{
					list-style: none;
					padding-left: 0px;
					margin-bottom: 0px;
					background-color: #303030;

					li{
						width: 100%;
						color:white;
						ul{
							padding-left: 10px !important;
							li:last-child{
								div{
									border-bottom: none;
								}
							}
						}
						div.text{
							border-bottom: 1px solid rgba(255,255,255,0.4);
							padding: 5px;
							width: calc(100%);
							background-color: #303030;
							cursor: pointer;
							i{
								transform: translate(-5px,5px);
								float: right;
								font-size: 14px;
								cursor: pointer;
							}
							&.disabled{
								cursor: default;
								color: rgba(255,255,255,0.8);
							}
						}
					}
				}
			}
		}
	}
}
