md-dialog{
	&[modal-categoria]{
		width: 100%;
	}
	div.menu-item-lista{
		transition:all 0.3s ease-in-out;
		border-bottom: 1px solid white;
		&:hover{
			@include BoxShadowHelper(3);
			transform: scale(1.03);
		}
	}
	div.barra{
		width: 100%;
		margin-bottom: 40px;
		@include BoxShadowHelper(1);
		border-radius: 4px;
		overflow: hidden;
		input[type="checkbox"]{
			display: none;
		}
		label{
			color:white;
			width: calc((100% / 5));
			padding: 10px 0px;
			text-align: center;
			margin: 0px -3px 0px 0px;
			&.web{
				background-color: #3F51B5;
			}
			&.phone{
				background-color: #009688;
			}
			&.face{
				background-color: #3b5999;
			}
			&.tweet{
				background-color: #55acee;
			}
			&.insta{
				background-color: #e4405f;
			}
		}
	}
	section.preview{
		width: calc(100%);
		float: left;
		margin-top: 10px;
		border-radius: 3px;
		color: white;
		padding: 15px;
		height: 50px;
		margin-right: 10px;
		@include BoxShadowHelper(1);
		&.web{
			background-color: #3F51B5;
		}
		&.phone{
			background-color: #009688;
		}
		&.face{
			background-color: #3b5999;
		}
		&.tweet{
			background-color: #55acee;
		}
		&.insta{
			background-color: #e4405f;
		}
		&.agregar{
			background-color: #009688;
			@include BoxShadowHelper(3)
		}
		div{
			float:left;
			width: 36px;
			height: 36px;
			border-radius: 100px;
			color: white;
			margin-right: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			transform: translate(0,-7px);
			i{
				font-size: 24px !important;
			}
		}
	}
}
.sucursal{
	width: 100%;
	min-height: 100%;
	height: 100%;
	background-color: white;
	div.cambios{
		color: white;
		padding-left: 30px;
		font-weight: bold;
		background-color: rgba(66, 66, 66, 0.5);
		position: fixed;
		bottom: 0px;
		left: 0px;
		z-index: 100000000000;
		width: 100%;
		button{
			float: right;
		    width: 36px !important;
		    height: 36px;
		    border-radius: 100px;
		    border: none;
		    color: white;
		    margin: 5px 20px 5px 0px;
			@include BoxShadowHelper(3);
		}
		div[texto]{
			padding: 10px;
		    float: left;
		    font-size: 20px;
		}
	}
	div[banner]{
		width: 100%;
		height: calc(100vh - 108px);
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			min-height: 100%;
		}
		div.edit{
			font-size: 10px;
		    font-weight: bold;
		    color: #303030;
		    bottom: 100px;
		    position: absolute;
		    right: 10px;
		    cursor: pointer;
		    height: 32px;
		    background: white;
		    margin-left: 10px;
		    margin-top: 10px;
		    border-radius: 100px;
		    width: 32px;
			border: 2px solid #303030;
			@include BoxShadowHelper(3);
			i{
				transform: translateY(2px) translateX(2px);
			}
		}
		div.puntuacion{
			position: absolute;
		    right: 10px;
		    top: 10px;
		    font-size: 25px;
		    text-shadow: 1px 3px 3px black;
		}
		div[titulo]{
			background-color: rgba(0, 0, 0, 0.4);
		    color: white;
		    width: 100%;
		    height: 90px;
		    font-size: 20px;
		    bottom: 1px;
		    position: absolute;
		    padding-left: 20px;
		    padding-top: 8px;
			div[ng-show]{
				float: left;
				margin-top: -10px;
				text-indent: 150px;
			}
			div.informacion-sucursal{
				margin-top: 25px;
		    	margin-left: 110px;
				ul{
					list-style: none;
			   		border-top: 1px solid rgba(255,255,255,0.4);
					width: 600px;
					font-size: 25px;
				    margin-left: 40px;
				    padding-left: 0px;
					li{
						float: left;
					    text-align: center;
					    padding: 0px 45px 0px 8px;
					    font-size: 22px;
					    color: rgba(255,255,255,0.6);
						label{
							font-size: 14px;
						    font-weight: normal;
						    padding: 0px;
						    transform: translateY(-15px);
						}
					}
				}
			}
			input{
				float: left;
				border: none;
				background-color: transparent;
				width: calc(100% - 250px);
				color: white;
				margin-left: 150px;
				margin-top: -10px;
			}
	    i{
			float: right;
    		transform: translate(-10px,-40px);
	    }
			img{
				width: 120px;
				height: 120px;
				border-radius: 100px;
				border: 2px solid white;
				position: absolute;
				top: -50px;
				left: 35px;
			}
		}
	}
	h2{
		color:#303030;
	}
	md-tab-item{
		width: calc(100% / 3);
	}
	div[md-tabs-template]{
		background-color: #E0E0E0;
		H2{
			padding-left: 30px;
			position: relative;
			margin-bottom: 17px;
			.menu{
				position: absolute;
			    top: -21px;
			    right: 0;
			    width: 100%;
			    [texto]{
			    	float: left;
			    }
			}
		}
		div.filtrado-menu{
			position: absolute;
	    top: 5px;
	    left: 130px;
		}
		div.descripcion,div.contactos,div.ubicacion{
			margin-bottom: 20px;
		    color: #303030;
		    padding: 20px;
			@include BoxShadowHelper(1);
			background-color: white;

			textarea{
				border: none;
    			width: 100%;
    			border: 1px dashed rgba(0,0,0,0.4);
			}
		}
		div.descripcion,div.contactos{
			width: calc(50% - 8px);
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		div.contactos{
			section{
				width: calc(50% - 10px);
			    float: left;
			    margin-top: 10px;
			    border-radius: 3px;
			    color: white;
			    padding: 15px;
			    height: 50px;
			    margin-right: 10px;
				@include BoxShadowHelper(1);
				&.web{
					background-color: #3F51B5;
				}
				&.phone{
					background-color: #009688;
				}
				&.face{
					background-color: #3b5999;
				}
				&.tweet{
					background-color: #55acee;
				}
				&.insta{
					background-color: #e4405f;
				}
				&.agregar{
					background-color: #009688;
					@include BoxShadowHelper(3)
				}
				div{
					float:left;
					width: 36px;
					height: 36px;
					border-radius: 100px;
				    color: white;
				    margin-right: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: transparent;
					transform: translate(0,-7px);
					i{
						font-size: 24px !important;
					}
				}
			}
		}
		div.ubicacion{
			width: calc(100% - 10px);
		    height: 500px;
		    background-color: white;
		    padding: 0px;
		    position: relative;
		    margin-left: 5px;
		    margin-bottom: 10px;
		    margin-top: 10px;
			h3{
				padding: 30px 20px 10px;
				margin: 0px;
			}
			div.angular-leaflet-map{
				height: calc(100% - 66px);
				width: 100%;
			}
			div.leyenda{
				position: absolute;
				right: 13px;
				top: 13px;
				z-index: 1000000;
				width: 180px;
				@include BoxShadowHelper(3);
				ul{
					list-style: none;
					padding-left: 0px;
					margin-bottom: 0px;
					background-color: #303030;

					li{
						width: 100%;
						color:white;
						ul{
							padding-left: 10px !important;
							li:last-child{
								div{
									border-bottom: none;
								}
							}
						}
						div.text{
							border-bottom: 1px solid rgba(255,255,255,0.4);
							padding: 5px;
							width: calc(100%);
							background-color: #303030;
							cursor: pointer;
							i{
								transform: translate(-5px,5px);
								float: right;
								font-size: 14px;
								cursor: pointer;
							}
							&.disabled{
								cursor: default;
								color: rgba(255,255,255,0.8);
							}
						}
					}
				}
			}
		}
		div.categoria{
			width: calc(100% - 20px);
			margin-left: 10px;
			margin-bottom: 20px;
			position:relative;
			overflow:hidden;
			div.tit-cat{
				position: absolute;
				bottom: 0px;
				padding: 10px;
				background-color: rgba(0,0,0,0.6);
				left: 0px;
				width: 100%;
				text-align: left;
				font-size: 24px;
				color: white;
			}
			div.texto-categoria{
				color:#949494;
				background-color: white;
				@include BoxShadowHelper(1);
				border-radius: 3px;
				height: 150px;
				text-align: center;
				font-size: 35px;
				padding: 50px;
				position: relative;
				overflow: hidden;
				img{
					width: calc(100%);
				    left: 0px;
				    margin-top: -50px;
				    min-height: 150px;
				    position: absolute;
				    z-index: 0;
				}
				input{
						background-color: transparent;
				    border: 1px dashed silver;
				    padding: 0px 3px;
				    width: 100%;
				    font-size: 20px;
				    color: white;
						&.secuencia{
							position: absolute;
							width: 60px;
							top: 10px;
							right: 10px;
							color: #303030;
						}
				}

				&:hover i.edit,&:hover i.guardar,&:hover i.borrar{
					left:10px;
				}
				i{
					transition: box-shadow 0.3s ease-in-out;
					position: absolute;
					color: $color-primary;
					z-index: 10;
					cursor:pointer;
					border-radius: 100px;
					padding: 3px;
					background: white;
					&:hover{
						@include BoxShadowHelper(2);
					}
					&.guardar,&.borrar,&.edit{
						left: -60px;
						top: 10px;
						transition: all 0.3s ease-in-out;
					}
					&.borrar{
						top: 55px;
						width: 30px;
						transition: all 0.6s ease-in-out;
					}
					&.mostrar{
						right: 16px;
						bottom: 13px;
					}
					&.close{
						background-color: transparent;
					    right: 15px;
					    top: 12px;
					    color: white;
					}
				}
			}
			div.cont-productos{
				display: flex;
				align-items: space-between;
				justify-content: space-between;
				flex-wrap:wrap;
				padding: 10px;

				div.producto{
					@include BoxShadowHelper(1);
					border-radius: 3px;
					background-color: white;
					width: calc((100% / 2) - 5px);
  				margin-bottom: 10px;
  				&:hover i.edit,&:hover i.guardar,&:hover i.borrar{
						left:10px;
					}
					&:hover div.img img{
						@include BoxShadowHelper(3);
						transform: scale(1.05);
					}
					&:hover div.descrip button.shop-btn{
						@include BoxShadowHelper(3);
						width: 100px;
					}
					&:hover div.descrip button.shop-btn div.texto-aparece{
						width: 80px;
						opacity: 1;
					}
					&:nth-child(odd){
						margin-right: 5px;
					}
					&:nth-child(even){
						margin-left: 5px;
					}

					div.texto-producto{
						color:#949494;
						text-align: center;
						font-size: 35px;
						padding: 50px;
					}

					div.img{
						padding: 0;
						img{
							transition: all 0.3s ease-in-out;
							width: 100%;
							height: 100%;
							min-height: 228px;
						}
						&:hover i.edit,&:hover i.guardar,&:hover i.borrar,&:hover i.cancelar{
							transform: scale(1);
						}
						i{
							transition: box-shadow 0.3s ease-in-out;
							position: absolute;
							color: $color-primary;
							z-index: 10;
							cursor:pointer;
							border-radius: 100px;
							padding: 3px;
							background: white;
							&:hover{
								@include BoxShadowHelper(2);
							}
							&.guardar,&.edit,&.borrar,&.cancelar{
								transform: scale(0);
								left: 10px;
								top: 10px;
								transition: all 0.2s ease-in-out;
							}
							&.borrar{
								transition: all 0.4s ease-in-out;
								top:55px;
								width: 30px;
							}
							&.cancelar{
								transition: all 0.6s ease-in-out;
								top:100px;
								width: 30px;
							}
							&.mostrar{
								right: 16px;
								bottom: 13px;
							}
							&.close{
								background-color: transparent;
							    right: 15px;
							    top: 12px;
							    color: white;
							}
						}
					}

					div.descrip{
						color: grey;
						padding-top: 15px;
						padding-bottom: 15px;
						height: 100%;
						textarea{
							min-height: 100px;
    						border: 1px dashed silver;
    						width: 100%;
						}
						input{
							border: 1px dashed silver;
							width: 150px;
							&.secuencia{
								margin-top: 10px;
								width: 60px;
								font-size: 20px;
							}
						}
						h4{
							color: #303030;
						}
						div.precio{
							position: absolute;
						    right: 20px;
						    bottom: 10px;
						    font-size: 25px;
						    color: #303030;
							&:before{
								content:"Bs ";
								color: grey;
								font-size: 15px;
							}
							&:after{
								content:"00";
								font-size: 10px;
								transform:translateX(-15px);
							}
							input{
								width: 100px;
							}
						}
						div.arriba{
							right: 20px;
							top:10px;
							font-size: 20px;
						}
						button.shop-btn{
							transition: all 0.3s ease-in-out;
							color: white;
							background-color: $color-acent;
							border:none;
							padding: 7px 6px 7px 0px;
							border-radius: 100px;
							@include BoxShadowHelper(1);
							right: 20px;
							bottom: 20px;
							position: absolute;
							width: 38px;
							overflow: hidden;
							text-align: right;
							div.texto-aparece{
								width: 0px;
								transition: all 0.5s;
								position: absolute;
								overflow: hidden;
								font-size: 17px;
							    text-align: left;
							    padding: 5px 10px;
								opacity: 0;
								font-family: serif;
							}
						}
					}
				}
			}
		}
	}
}
