.sucursal{
	width: 100%;
	min-height: 100%;
	background-color: white;
	div[banner]{
		width: 100%;
		height: initial;
		min-height: 400px;
		position: relative;
		img{
			width: 100%;
		}
		div.edit{
			font-size: 10px;
    font-weight: bold;
    color: #303030;
    bottom: 50px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    height: 32px;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100px;
    width: 32px;
			i{
				transform: translateY(4px) translateX(5px);
			}
		}
		div[titulo]{
			background-color: rgba(0, 0, 0, 0.4);
		    color: white;
		    width: 100%;
		    height: 40px;
		    font-size: 18px;
		    bottom: 1px;
		    position: absolute;
		    padding-left: 20px;
		    padding-top: 8px;
		    i{
		    	float: right;
		    	transform: translateX(-10px);
		    }
		}
	}
	h2{
		color:#303030;
	}
	md-tab-item{
		width: calc(100% / 3);
	}
}
