<div draggabilly class="omni-cart cerrado activo">
  <i class="material-icons icono-carro">shopping_cart</i>
  <div class="cart-content" >
  {{cart.min}}
  <md-toolbar>
      <div class="md-toolbar-tools color-primario">
       <img ng-src="storage\proveedor\file-1503879283939.jpg" class="md-avatar" />

        <md-truncate style="position: absolute; left: 70px; right: 170px; top: 13px; bottom: 13px; overflow:visible">
        	Pizzeria el aguila
        </md-truncate>

        <span flex></span>
      </div>
    </md-toolbar>
    <div class="header-cart">
    	<div class="producto texto-primario">
    		Producto
    	</div>
    	<div class="precio texto-primario">
    		Precio
    	</div>
    	<div class="cantidad texto-primario">
    		Cantidad
    	</div>
    	<div class="subtotal texto-primario">
    		SubTotal
    	</div>
    </div>
    <div class="item-cart">
    	<img src="storage\producto\file-1504151000194.jpg" class="imagen">
    	<div class="nombre">
    		Comida Gourmet
    	</div>
    	<div class="precio">
    		20000
    	</div>
    	<div class="cantidad">
    		<input type="text" value="1">
    	</div>
    	<div class="subtotal">
    		20000
    	</div>
    </div>
    <md-divider ></md-divider>
  </div>
</div>
