<header class="cliente">
  <div titulo>
    balaFria
  </div>
  <div sociales>
    <div avatar>
      <img
        src="{{header.usuario.avatar.ruta || '/img/thumbnails/thumbnail.png'}}" alt=""
        ng-click="header.cambiarImagen($event)"
      >
    </div>
    <div notificaciones ng-click="header.toggleRight()">
        <i class="material-icons">notifications_none</i>
    </div>
  </div>
</header>
<!-- RIGHT -->
<md-sidenav md-component-id="right" class="md-sidenav-right" md-disabled-backdrop="true">
  <section class="perfil">
    <div avatar>
    <img src="{{header.usuario.avatar.ruta || '/img/thumbnails/thumbnail.png'}}" alt="">
  </div>
  <div opciones>
       <ul>
        <li>{{header.usuario.nombre+" "+header.usuario.apellido}}</li>
        <li><span class="material-icons">settings</span>Ajustes</li>
        <li><span class="material-icons">security</span>Datos seguridad</li>
        <li ng-click="header.logOut()"><span class="material-icons">power_settings_new</span>Cerrar Sesion</li>
      </ul>
    </div>
  </section>
  <section cabecera> Notificaciones <i class="material-icons right">notifications_none</i></section>
  <div notificaciones ng-click="header.openLeftMenu()">
      <i class="material-icons">notifications_none</i>
  </div>
  {{header.usuario}}
</div>
