<md-dialog aria-label="logIn" login>
   <md-toolbar>
     <div class="md-toolbar-tools">
      <h2>Acceso</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
         <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
     </div>
   </md-toolbar>
   <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Iniciar Sesion">
          <div class="inicio" layout-padding registro  layout="column" layout-sm="column"  layout-wrap>
           <form name="formInicio" ng-submit="login()" method="post">
             <md-input-container md-no-float class="md-block">
               <label>Nombre o Email</label>
               <input required name="nombre" minlength="5"  ng-model="nombre">
                 <!-- mensajes  -->
               <div ng-messages="formInicio.nombre.$error" role="alert">
                 <div ng-message="required">Este campo es requerido</div>
                 <div ng-message="minlength">Debe poseer al menos 5 carateres</div>
               </div>
             </md-input-container>
             <md-input-container md-no-float class="md-block" name="clave">
               <label>Clave</label>
               <input required type="password" ng-model="clave">
               <div ng-messages="formInicio.clave.$error" role="alert">
                 <div ng-message="required">Este campo es requerido</div>
               </div>
             </md-input-container>
             <section   layout-align="center" >
               <button class="md-raised md-primary inicio" type="submit">Iniciar sesion</button>
               <div divider></div>
               <button class="google inicio" type="button" ng-click="authenticate('google')"><i class="ion-social-google"></i> Sign in with Google</button>

             </section>
           </form>
         </div>
      </md-tab>
      <md-tab label="Registrate">
         <md-content >
            <div  registro layout-padding layout="column" layout-sm="column"  layout-wrap>
              <md-input-container md-no-float class="md-block">
                <label>Nombre</label>
                <input ng-model="log.cliente.nombre">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Apellido</label>
                <input ng-model="log.cliente.apellido">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Correo</label>
                <input type="email" ng-model="log.cliente.correo">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Clave</label>
                <input type="password" ng-model="log.cliente.clave">
              </md-input-container>
              <md-input-container md-no-float class="md-block">
                <label>Reingrese Clave</label>
                <input type="password" ng-model="log.clave2">
              </md-input-container>
              <section layout="row"  layout-align="center" >
                <md-button class="md-raised md-primary" ng-click="log.registro()">Enviar</md-button>
              </section>
            </div>
         </md-tab>
       <md-tab label="cambiar Clave">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
       </md-tab>
   </md-tabs>
</md-dialog>
